[2020-12-04 02:12] adityabisoi opened #2 "Left Rotation"
A popular and frequently-seen question in Google interviews: https://www.hackerrank.com/challenges/array-left-rotation/problem

Find a solution in any of the supported languages with all test cases passing, and make a PR into the corresponding folder category.

[2020-12-04 02:14] adityabisoi opened #3 "Print the Elements of a Linked List"
A problem to get started with Linked Lists: https://www.hackerrank.com/challenges/print-the-elements-of-a-linked-list/problem

Find a solution in any of the supported languages with all test cases passing, and make a PR into the corresponding folder category.

[2020-12-04 02:16] adityabisoi opened #4 "Tree: Preorder Traversal"
A question to get started with ordered traversal in trees: https://www.hackerrank.com/challenges/tree-preorder-traversal/problem

Find a solution in any of the supported languages with all test cases passing, and make a PR into the corresponding folder category.

[2020-12-04 02:17] adityabisoi opened #5 "Tree: Huffman Decoding"
Need some experience with trees to solve: https://www.hackerrank.com/challenges/tree-huffman-decoding/problem

Find a solution in any of the supported languages with all test cases passing, and make a PR into the corresponding folder category.

[2020-12-04 02:18] adityabisoi opened #6 "Add table to show all solved problems"
Add an easy-to-maintain table in the `README.md` to maintain a list of all the solved problems in the three supported languages.

[2020-12-04 06:29] pankajkr62 commented on #4
Can I take this up ?

[2020-12-04 06:35] adityabisoi commented on #4
Are you a KWOC  participant?

[2020-12-04 06:41] pankajkr62 commented on #4
No actually. Is it specific to those ?
I am actually a beginner and was looking for a suitable first issue to contribute. That's why asked.

[2020-12-04 07:49] adityabisoi commented on #4
@pankajkr62 Please go ahead:)

[2020-12-04 08:11] aaditya-ag commented on #3
I would like to work on this.

[2020-12-04 08:56] adityabisoi commented on #3
@aaditya-ag Go ahead

[2020-12-04 11:41] subhangi2731 commented on #2
can you please assign this issue to me? @adityabisoi

[2020-12-04 11:48] adityabisoi commented on #2
@subhangi2731 Go ahead

[2020-12-04 16:04] RealShreyas commented on #6
I would love to work on this.

[2020-12-04 17:11] adityabisoi commented on #6
@ShreyasMore Go ahead:)

[2020-12-04 18:00] abhay313 commented on #3
I would like to work on this using C++

[2020-12-04 18:25] satyampandeygit commented on #5
assign this to me

[2020-12-04 18:31] adityabisoi commented on #5
@TheWireGit Go ahead

[2020-12-04 18:34] adityabisoi commented on #3
@aaditya-ag Which language are you using?

[2020-12-04 19:16] aaditya-ag commented on #3
I am also using C++

[2020-12-05 03:39] adityabisoi commented on #5
@TheWireGit Remember to add proper comments, for proper understanding.

[2020-12-05 03:40] adityabisoi commented on #3
@aaditya-ag You go ahead in C++. @abhay313 You can try JAVA, or take up a different issue.

[2020-12-05 03:46] adityabisoi opened #15 "Arrays-Easy"
Complete [2D Array-DS](https://www.hackerrank.com/challenges/2d-array) and [Dynamic Array](https://www.hackerrank.com/challenges/dynamic-array) problems in hackerrank in python, c++, and JAVA.

Write clean and understandable code with proper comments.

[2020-12-05 03:51] adityabisoi opened #16 "Arrays- Medium and Hard"
Complete [Sparse arrays](https://www.hackerrank.com/challenges/sparse-arrays) and [Array manipulation](https://www.hackerrank.com/challenges/crush) in python, c++, and JAVA.

Code should be understandable, clean, and with comments.

[2020-12-05 04:05] adityabisoi opened #17 "Linked Lists-Easy-1"
Complete [Insert at tail](https://www.hackerrank.com/challenges/insert-a-node-at-the-tail-of-a-linked-list), [insert at head](https://www.hackerrank.com/challenges/insert-a-node-at-the-head-of-a-linked-list), [insert at specific position](https://www.hackerrank.com/challenges/insert-a-node-at-a-specific-position-in-a-linked-list) and [delete node](https://www.hackerrank.com/challenges/delete-a-nod

[2020-12-05 04:08] adityabisoi opened #18 "Linked Lists-Easy-2"
Complete [print in reverse](https://www.hackerrank.com/challenges/print-the-elements-of-a-linked-list-in-reverse), [compare two linked lists](https://www.hackerrank.com/challenges/compare-two-linked-lists), [merge two sorted lists](https://www.hackerrank.com/challenges/merge-two-sorted-linked-lists) and [get node value](https://www.hackerrank.com/challenges/get-the-value-of-the-node-at-a-specific-

[2020-12-05 05:26] anushkasinghal11 commented on #18
Can you assign this to me? I'll do in C++

[2020-12-05 05:29] rsrinath14 commented on #17
If you assign it to me, I'll complete it in C++

[2020-12-05 06:11] adityabisoi commented on #18
@anushkasinghal11 Go ahead:)

[2020-12-05 06:12] adityabisoi commented on #17
@srinath1412001 Go ahead

[2020-12-05 07:05] Mintuagarwal commented on #17
I can try this in Python. I can do it in C++ as well.

[2020-12-05 07:08] adityabisoi commented on #17
@Mintuagarwal Do it in python.

[2020-12-05 07:37] Harikrishnan6336 commented on #16
I can do this in C++, Please assign it to me.

[2020-12-05 07:43] adityabisoi commented on #16
@Harikrishnan6336 Go ahead

[2020-12-05 08:08] abhay313 commented on #2
I would like to implement it into C++, can you assign it to me ??

[2020-12-05 08:12] anushkasinghal11 commented on #18
Hello Sir,
I am unable to commit my changes.
It is showing that the access is denied and error 403.
I cloned the repo using https and created my branch.
Could you help me with this?

On Sat, Dec 5, 2020 at 11:41 AM Aditya Bisoi <notifications@github.com>
wrote:

[2020-12-05 08:12] satyampandeygit commented on #15
assign this to me

[2020-12-05 09:51] sourav-suku commented on #15
I can do the solution in python.
Please assign this to me

[2020-12-05 10:59] KerinPithawala commented on #15
Can I work on this?

[2020-12-05 12:29] pankajkr62 commented on #4
Submitted for review. Please check .

[2020-12-05 13:10] anushkasinghal11 commented on #4
Can you assign this to me? I'll do it in C++

[2020-12-05 13:29] satyampandeygit commented on #5
I will do that also I need to upload function only or the whole solution?

[2020-12-05 16:39] adityabisoi commented on #2
@abhay313 Go ahead. @subhangi2731 Do it in python

[2020-12-05 16:54] adityabisoi commented on #15
@sourav-suku Go ahead

[2020-12-05 16:54] adityabisoi commented on #15
@Kerveyfelix @sourav-suku Go ahead after deciding your languages.

[2020-12-05 16:57] sourav-suku commented on #15
I will do python.
@Kerveyfelix what language do u prefer

[2020-12-05 16:58] sourav-suku commented on #18
I can do this in python.
Will u assign it to me

[2020-12-05 16:59] adityabisoi commented on #4
@anushkasinghal11 Go ahead.

[2020-12-05 17:00] adityabisoi commented on #5
The whole solution, of course.

[2020-12-05 17:05] adityabisoi commented on #15
@TheWireGit What language?

[2020-12-05 17:05] satyampandeygit commented on #15
C++

[2020-12-05 17:05] adityabisoi commented on #18
@sourav-suku Go ahead.

[2020-12-05 17:07] adityabisoi commented on #15
@Kerveyfelix You can implement using JAVA, or take up any other issue

[2020-12-05 18:01] KerinPithawala commented on #15
I will take another issue. I am not comfortable using DSA with Java.

[2020-12-05 18:02] KerinPithawala commented on #17
Can I work on this using C++?

[2020-12-05 20:13] stormfireuttam commented on #17
I can work on this in Java.

[2020-12-05 20:13] stormfireuttam commented on #18
I can work on this in java

[2020-12-05 20:14] stormfireuttam commented on #15
I can implement using Java

[2020-12-05 20:37] vikhyatsingh123 commented on #18
Can I work on this in cpp

[2020-12-05 21:02] vikhyatsingh123 commented on #18
@adityabisoi Hey! I just added code for print in reverse, compare two linked lists, merge two sorted lists and get node value in cpp. And created PR. Check that out

[2020-12-05 21:51] stormfireuttam commented on #2
Could you assign this to me. I can provide the code in Java.

[2020-12-06 03:51] adityabisoi commented on #17
@stormfireuttam Go ahead

[2020-12-06 03:52] adityabisoi commented on #17
@Kerveyfelix C++ is already taken. I am going to add new issues, have a look at them.

[2020-12-06 03:52] adityabisoi commented on #15
@stormfireuttam okay

[2020-12-06 03:55] adityabisoi commented on #18
@stormfireuttam Go ahead

[2020-12-06 04:28] kitarp29 commented on #16
@adityabisoi any more questions, you want to be added to the repo?
please specify and Assign to me.
My Hackerrank id- https://www.hackerrank.com/kitarpsinghrajp1

[2020-12-06 04:33] stormfireuttam commented on #17
The pull request for Linked Lists-Easy-1 questions has been created
[Pull Request!](https://github.com/adityabisoi/ds-algo-solutions/pull/26#issue-533096682)

[2020-12-06 04:51] adityabisoi commented on #16
@kitarp29 Ill be creating issues shortly.

[2020-12-06 06:44] areeb77 commented on #3
I can implement this using python. Please assign this to me @adityabisoi

[2020-12-06 06:48] areeb77 commented on #2
Could you assign this to me @adityabisoi ? I can provide the code in any of the 3 languages.

[2020-12-06 06:58] Droyder7 commented on #4
Hello @adityabisoi, I am a KWOC participant and I can do this in JAVA & C++. Can you assign this to me?

[2020-12-06 07:26] raunak6662 commented on #16
@adityabisoi
My hackerrank id is - https://www.hackerrank.com/singhraunak402?hr_r=1
plz assign to me, if u add more questions to this repo.

[2020-12-06 10:34] AmanSingh0-0 commented on #16
Let me work on this for python

[2020-12-06 12:47] anubhab-code opened #32 "Algorithms section of Hackerrank"
Contributions are to be made to this section, can I be assigned to this?

[2020-12-06 13:28] prakhar1144 opened #33 "Stack - Easy and Medium"
I would like to add to work on it. Please assign it to me

[2020-12-06 13:35] adityabisoi commented on #33
Closing this issue, I am opening new ones now.

[2020-12-06 13:35] #33 closed

[2020-12-06 13:36] adityabisoi commented on #32
@anubhab-code I will create new issues now. Closing this.

[2020-12-06 13:36] #32 closed

[2020-12-06 13:38] adityabisoi commented on #2
@stormfireuttam Go ahead in JAVA

[2020-12-06 13:39] adityabisoi commented on #2
@areeb77 Try other issues. First come, get assigned first!!!

[2020-12-06 13:41] adityabisoi commented on #3
@areeb77 In python

[2020-12-06 13:47] adityabisoi commented on #4
@Droyder7 JAVA and C++ are taken. Do it in python, or take up any other issue.

[2020-12-06 14:01] adityabisoi commented on #16
@AmanSingh0-0 in Python @raunak6662 in JAVA

[2020-12-06 14:28] adityabisoi commented on #6
@ShreyasMore It's being pretty challenging to maintain the list of repos. Please make a PR asap, before 7th December

[2020-12-06 14:30] stormfireuttam commented on #2
[Pull Request](https://github.com/adityabisoi/ds-algo-solutions/pull/35) created.

[2020-12-06 14:33] adityabisoi opened #36 "Linked Lists-Easy-3"
Complete [Reverse Linked List](https://www.hackerrank.com/challenges/reverse-a-linked-list),[Delete duplicate values](https://www.hackerrank.com/challenges/delete-duplicate-value-nodes-from-a-sorted-linked-list) and [Find merge point](https://www.hackerrank.com/challenges/find-the-merge-point-of-two-joined-linked-lists) in JAVA, C++ and Python with proper comments.
Add the file in the respective f

[2020-12-06 14:34] adityabisoi opened #37 "Linked Lists-Easy-4"
Complete [Cycle detection](https://www.hackerrank.com/challenges/detect-whether-a-linked-list-contains-a-cycle),[Insert onto sorted dll](https://www.hackerrank.com/challenges/insert-a-node-into-a-sorted-doubly-linked-list) and [reverse a dll](https://www.hackerrank.com/challenges/reverse-a-doubly-linked-list) in JAVA, C++ and Python with proper comments.
Add the file in the respective folder.

[2020-12-06 14:37] adityabisoi opened #38 "Trees-Easy-1"
Complete [Postorder](https://www.hackerrank.com/challenges/tree-postorder-traversal),[In order](https://www.hackerrank.com/challenges/tree-inorder-traversal) and [Height of binary tree](https://www.hackerrank.com/challenges/tree-height-of-a-binary-tree) in JAVA, C++ and Python with proper comments.
Add the file in the respective folder.

[2020-12-06 14:40] adityabisoi opened #39 "Trees-Medium-1"
Complete [Top view](https://www.hackerrank.com/challenges/tree-top-view),[Swap nodes](https://www.hackerrank.com/challenges/swap-nodes-algo) and [Is this a binary tree](https://www.hackerrank.com/challenges/is-binary-search-tree) in JAVA, C++ and Python with proper comments.
Add the file in the respective folder.

[2020-12-06 14:41] adityabisoi opened #40 "Trees-Easy-2"
Complete [Level order traversal](https://www.hackerrank.com/challenges/tree-level-order-traversal),[Insertion](https://www.hackerrank.com/challenges/binary-search-tree-insertion) and [LCA](https://www.hackerrank.com/challenges/binary-search-tree-lowest-common-ancestor) in JAVA, C++ and Python with proper comments.
Add the file in the respective folder.

[2020-12-06 14:45] prakhar1144 commented on #37
Assign it to me, i  will do it in Python

[2020-12-06 14:46] yashasvimisra2798 commented on #38
i can do it in c++ please assign it to me

[2020-12-06 14:46] yashasvimisra2798 commented on #37
I can do it in C++ please assign it to me

[2020-12-06 14:47] mustang519 commented on #36
I can complete these problems in C++ . Please assign it to me.

[2020-12-06 14:53] AmanSingh0-0 commented on #40
Assign to me for C++

[2020-12-06 15:42] stormfireuttam commented on #36
I can provide code to these problems in Java.

[2020-12-06 15:43] prakhar1144 commented on #36
I can do it in Python. Please assign it to me

[2020-12-06 15:49] stormfireuttam commented on #37
I can provide code to these problems in Java.

[2020-12-06 16:00] stormfireuttam commented on #38
I can provide the code in Java

[2020-12-06 16:17] raunak6662 commented on #16
@adityabisoi Sir, I m a coder in C++ language.
Plz assign me something in c++ language and not in JAVA.

[2020-12-06 16:35] Saptashrungi commented on #39
I would like to work on this issue. I know C++ and Python, Java wont be an issue. How elaborate or explaining comments are needed?

[2020-12-06 16:47] saptarshimondal1305 commented on #16
@adityabisoi I can do this in java pls assign it to me

[2020-12-06 16:48] AmanSingh0-0 commented on #38
I can do it in python

[2020-12-06 17:08] adityabisoi opened #43 "Stacks-Medium-1"
Complete [Maximum element](https://www.hackerrank.com/challenges/maximum-element),[Balanced brackets](https://www.hackerrank.com/challenges/balanced-brackets) and [Equal stacks](https://www.hackerrank.com/challenges/equal-stacks) in JAVA, C++ and Python with proper comments.
Add the file in the respective folder.

[2020-12-06 17:11] adityabisoi opened #44 "Stacks-Medium-2"
Complete [Largest rectangle](https://www.hackerrank.com/challenges/largest-rectangle),[Simple text editor](https://www.hackerrank.com/challenges/simple-text-editor) and [waiter](https://www.hackerrank.com/challenges/waiter) in JAVA, C++ and Python with proper comments.
Add the file in the respective folder.

[2020-12-06 17:12] adityabisoi opened #45 "Queues-Medium-1"
Complete [Queue using two stacks](https://www.hackerrank.com/challenges/queue-using-two-stacks),[Castle on the grid](https://www.hackerrank.com/challenges/castle-on-the-grid) and [Down to zero](https://www.hackerrank.com/challenges/down-to-zero-ii) in JAVA, C++ and Python with proper comments.
Add the file in the respective folder.

[2020-12-06 17:16] adityabisoi opened #46 "Algorithms-Easy-1"
Complete [Grading students](https://www.hackerrank.com/challenges/grading),[Apple and orange](https://www.hackerrank.com/challenges/apple-and-orange) and [Number line jumps](https://www.hackerrank.com/challenges/kangaroo) in JAVA, C++ and Python with proper comments.
Add the file in the respective folder.

[2020-12-06 17:33] adityabisoi commented on #39
@Saptashrungi Solve in any one language, not all. Comment your intuition and the steps you have taken.

[2020-12-06 17:34] adityabisoi commented on #16
@raunak6662 comment on new issues.

[2020-12-06 17:40] stormfireuttam commented on #15
I have added the solutions to Issue #15  in Java
[ Pull Request ](https://github.com/adityabisoi/ds-algo-solutions/pull/47)

[2020-12-06 17:47] KerinPithawala commented on #46
Can I work on this using C++?

[2020-12-06 17:48] KerinPithawala commented on #43
Can I work on this using C++?

[2020-12-06 17:48] KerinPithawala commented on #45
Can I work on this using C++?

[2020-12-06 17:48] Nivedita967 commented on #40
I will do this in Java. Please assign this to me.

[2020-12-06 17:52] Nivedita967 commented on #43
Can I work for Java?

[2020-12-06 17:53] adityabisoi commented on #43
@Nivedita967 Go ahead

[2020-12-06 17:54] Nivedita967 commented on #46
I can do this for Java.

[2020-12-06 17:55] adityabisoi commented on #46
@Nivedita967 Work on few issues at a time.

[2020-12-06 18:07] stormfireuttam commented on #18
The final problem solution provided as well in Java.
Get Node Value -> [Pull Request](https://github.com/adityabisoi/ds-algo-solutions/pull/48)

[2020-12-06 18:18] adityabisoi commented on #37
@yashasvimisra2798 Ignore the cycle detection. It's already done. Focus on the other two.

[2020-12-06 18:21] adityabisoi commented on #38
@stormfireuttam Complete the other issues first. I'll assign this to you then.

[2020-12-06 18:21] adityabisoi commented on #37
@stormfireuttam Complete the other issues first. I'll assign this to you then.

[2020-12-06 18:23] adityabisoi commented on #45
@Kerveyfelix Not all at once. Complete assigned ones first

[2020-12-06 18:40] anushkasinghal11 commented on #44
Assign this to me. I'll complete it in C++.

[2020-12-06 19:03] anubhab-code commented on #46
I can upload solutions in python.

[2020-12-06 19:05] anushkasinghal11 commented on #45
Can I work on it in C++?

[2020-12-06 19:06] vikhyatsingh123 commented on #46
@adityabisoi Hey! I just created PR of code in cpp. check that out.

[2020-12-06 19:32] Tanvie commented on #18
@adityabisoi I can work on this in c++. Will you assign it to me?

[2020-12-06 19:33] Tanvie commented on #17
@adityabisoi I can work on this in c++.

[2020-12-06 19:42] Tanvie commented on #4
@adityabisoi I can do it in Python3. Please assign it to me

[2020-12-06 19:57] srinath1412001 opened #51 "Suggestion"
Maintain separate folders for different languages.

[2020-12-06 19:58] Droyder7 commented on #4
@adityabisoi I have done it in python as you said. I have also made the PR, please have a look.

[2020-12-06 20:39] lostgirljourney commented on #6
@adityabisoi I can also help here!

[2020-12-06 20:49] saloniankita commented on #38
I can do in C++. Kindly assign it to me.

[2020-12-06 20:51] saloniankita commented on #43
Can I work on this in Python. Kindly assign it to me @adityabisoi

[2020-12-07 01:05] preyam2002 commented on #44
I can do these in C++, please assign it to me

[2020-12-07 04:42] Satvik-B commented on #45
Would like to complete this, assign this to me, will do in c++.

[2020-12-07 05:01] sneaky-potato commented on #46
@adityabisoi Hi I created a pull request for the grading students question. Please do check it out

[2020-12-07 05:03] subhangi2731 commented on #46
Assign this to me @adityabisoi

[2020-12-07 05:03] subhangi2731 commented on #45
Assign this to me @adityabisoi

[2020-12-07 05:04] subhangi2731 commented on #44
Assign this to me @adityabisoi

[2020-12-07 05:05] subhangi2731 commented on #43
Assign this to me @adityabisoi

[2020-12-07 05:05] subhangi2731 commented on #40
Assign this to me @adityabisoi

[2020-12-07 05:06] sourav-suku commented on #15
I have added both the solutions in python

[2020-12-07 05:06] subhangi2731 commented on #39
assign this to me @adityabisoi

[2020-12-07 05:07] subhangi2731 commented on #38
assign this to me @adityabisoi

[2020-12-07 05:08] subhangi2731 commented on #37
assign this to me @adityabisoi

[2020-12-07 05:10] subhangi2731 commented on #5
assign this to me @adityabisoi

[2020-12-07 05:12] subhangi2731 commented on #16
assign this to me @adityabisoi

[2020-12-07 05:28] stormfireuttam commented on #51
A really good suggestion indeed as we can clearly see the data in folders is not really in a proper manner.

[2020-12-07 05:29] stormfireuttam commented on #51
@adityabisoi Please do consider.

[2020-12-07 05:44] adityabisoi commented on #51
@stormfireuttam @srinath1412001 Suggestions in gitter.

[2020-12-07 05:45] #51 closed

[2020-12-07 06:24] #6 closed

[2020-12-07 06:28] Vrindagupta6828 opened #59 "Sort a Squared array"
eg: {-2,-1,0,6,9}

output: {0,1,4,36,81}

[2020-12-07 06:39] adityabisoi commented on #59
Hackerrank problem link?

[2020-12-07 06:42] Vrindagupta6828 commented on #59
@adityabisoi  Here it is: https://www.hackerrank.com/contests/coding-gym-mo0419/challenges/squares-of-a-sorted-array

[2020-12-07 07:18] itish-agarwal commented on #59
Hi, can I work on this problem in C++

[2020-12-07 07:33] stormfireuttam commented on #36
The code to the problems of LinkedLists-Easy3 have been provided in Java through this [Pull Request](https://github.com/adityabisoi/ds-algo-solutions/pull/48)

[2020-12-07 07:52] stormfireuttam commented on #37
I have completed all the other issues assigned to me. Can I work on this issue now.

[2020-12-07 07:58] Aarushi11H commented on #40
Hey! I'll do this in Python. Assign it to me

[2020-12-07 08:00] Aarushi11H commented on #44
hey!
I'll do these in Python. Please assign them to me

[2020-12-07 08:05] Aarushi11H commented on #39
Hey!
I'll do these in C++/Python. Please assign me this issue, mentioning the language which hasn't been done yet.

[2020-12-07 08:11] Aarushi11H commented on #45
Hey!
I'd like to work on these in python

[2020-12-07 08:55] prashant-3108 commented on #44
I have a proper Idea and I can make proper solutions with necessitate comments in C++ language. Please assign this issue to me.

[2020-12-07 09:07] Nivesh-2 commented on #59
Hi, I would like to solve this problem in python

[2020-12-07 10:14] areeb77 commented on #3
The python code for printing elements of linked list is already present in the repository. Please tell me what to do @adityabisoi

[2020-12-07 10:26] areeb77 commented on #37
I can work these in python. Please assign this to me @adityabisoi

[2020-12-07 11:24] adityabisoi opened #68 "Update README links"
Update the problem links in the `README.md` file.

For example, the link for `left-rotation` problem in java should be `/Arrays/2D%20Array-DS/solution.java`. Note that, space is replaced by `%20`

[2020-12-07 11:38] sujal111 commented on #68
Hey ! I am willing to work on this

[2020-12-07 11:48] adityabisoi commented on #68
@sujal111 Go ahead. Please complete this asap.

[2020-12-07 12:03] JayeshGChandan commented on #16
@adityabisoi , Here is my Hackerrank profile https://www.hackerrank.com/jayeshchandan269.
I can code in C++ and python and some basic in Java. Please assign to me if you add some more questions in repo

[2020-12-07 12:09] JayeshGChandan commented on #46
If there is new problem in repo please assign to me, I can work in C++ or Python

[2020-12-07 12:13] adityabisoi commented on #45
@subhangi2731 Python.

[2020-12-07 12:13] adityabisoi commented on #45
@Aarushi11H @Satvik-B Please see other issues.

[2020-12-07 12:13] JayeshGChandan commented on #40
I can do this in Python or C++. Please assign it to me

[2020-12-07 12:14] adityabisoi commented on #44
@prashant-3108 @subhangi2731 Try other issues. These have been assigned.

[2020-12-07 12:21] adityabisoi commented on #39
@Saptashrungi In java, @subhangi2731 python @Aarushi11H C++

[2020-12-07 12:30] adityabisoi commented on #40
@Aarushi11H @JayeshGChandan Already assigned. Please add new algos as issues.

[2020-12-07 12:35] Nivesh-2 commented on #59
This problem comes under which category? Should I commit it to the algorithms section?

[2020-12-07 12:52] pratyush25 commented on #59
hi, I have done the question, which folder should i commit this in ?

[2020-12-07 12:57] adityabisoi commented on #59
`Contest Problems/Squares of a Sorted Array/solution.java`

[2020-12-07 13:15] jaisaikr commented on #68
Also, one more thing... there are some spelling mistakes as well. So, please correct them as well.
Thank you.

[2020-12-07 14:32] prakhar1144 commented on #36
I have completed the assigned task. Have a look to this [Pull Request](https://github.com/adityabisoi/ds-algo-solutions/pull/74)

[2020-12-07 15:19] saptarshimondal1305 commented on #2
I would do it in java pls assign it to me

[2020-12-07 15:25] adityabisoi commented on #2
@saptarshimondal1305 Look at the issues. JAVA is already taken.

[2020-12-07 15:27] stormfireuttam commented on #38
I have completed all the other issues assigned to me. Can I work on it in Java.

[2020-12-07 15:31] saptarshimondal1305 commented on #2
@adityabisoi I can also do it in C

[2020-12-07 15:31] akshgpt7 opened #76 "Invalid file path name 'Tree-Is This a Binary Search Tree?'"
The folder `Trees/Tree-Is This a Binary Search Tree?/` contains a `?` in the name, which gives an error while cloning the repository on Windows.
Please change the name to a valid file path.

[2020-12-07 15:45] adityabisoi commented on #76
@akshgpt7 Big fixed

[2020-12-07 15:45] #76 closed

[2020-12-07 15:45] adityabisoi commented on #2
@saptarshimondal1305 Currently only C, C++, JAVA and Python are supported

[2020-12-07 16:06] stormfireuttam commented on #17
Here's the [pull request](https://github.com/adityabisoi/ds-algo-solutions/pull/77) with proper folder structure.

[2020-12-07 16:30] Sakshay-gupta commented on #46
hi, I have done grading problem in python where to upload this.

[2020-12-07 16:35] adityabisoi commented on #46
@Sakshay-gupta Make a Pull Request.

[2020-12-07 16:57] stormfireuttam commented on #37
Assign this to me I will provide the code in Java

[2020-12-07 17:56] stormfireuttam commented on #4
The code for this is not yet delivered in Java assign it to me I already have the code for it.

[2020-12-07 18:06] manishaag7 opened #88 "Minimum Absolute Difference in an Array"
Problem link :-  https://www.hackerrank.com/challenges/minimum-absolute-difference-in-an-array/problem

[2020-12-07 18:07] manishaag7 commented on #88
I want to do it in c++.

[2020-12-07 18:16] stormfireuttam commented on #68
I have corrected the links for Java via this [pull request](https://github.com/adityabisoi/ds-algo-solutions/pull/82)

[2020-12-07 18:32] stormfireuttam commented on #38
The solutions have been provided in Java in this [pull request](https://github.com/adityabisoi/ds-algo-solutions/pull/82)

[2020-12-07 18:34] satyampandeygit commented on #5
I have made a PR with modified structure

[2020-12-07 18:38] satyampandeygit commented on #39
Can I work on any question in C++?

[2020-12-07 18:45] vikhyatsingh123 commented on #88
@manishaag7 Can I do it in cpp? Assigned it to me

[2020-12-07 18:52] vikhyatsingh123 commented on #88
Hey @manishaag7 ! I just created PR, please review it and merge it.

[2020-12-07 18:54] vikhyatsingh123 commented on #44
@adityabisoi Assigned it to me in java. Others are doing it in cpp and python.

[2020-12-07 19:01] manishaag7 commented on #88
Hey @vikhyatsingh123 you are not assigned to work on the problem.

[2020-12-07 19:03] vikhyatsingh123 commented on #44
@adityabisoi I just added 3 code file in java which passed all check on Hackerrank and created PR.

[2020-12-07 19:15] avinash14022002 commented on #88
@manishaag7  Can I do it in java? Assigned it to me

[2020-12-07 19:47] vikhyatsingh123 commented on #88
Yeah but no one was doing in java. That's why I done that. Sorry for doing without assigne

[2020-12-07 20:13] Mintuagarwal commented on #17
Completed, pull request made. Please review.

[2020-12-07 20:53] aastha1999 commented on #88
I'll complete it in C++ or Python . Assign it to me.

[2020-12-08 03:05] adityabisoi commented on #37
@stormfireuttam @areeb77 Java and Python

[2020-12-08 03:26] adityabisoi commented on #68
@stormfireuttam You dont have to comment on issues you aren't working mentioning your PRs.

[2020-12-08 03:29] adityabisoi commented on #4
@pankajkr62 Make a PR. Its been 4 days already. Otherwise, it will be assigned to @stormfireuttam

[2020-12-08 03:30] adityabisoi commented on #88
Be careful next time.

[2020-12-08 03:32] aditkumar72 commented on #3
I can do it in Java please assign this to me @adityabisoi

[2020-12-08 03:34] adityabisoi commented on #88
Python

[2020-12-08 03:35] aditkumar72 commented on #45
I will do it in JAVA please assign it to me @adityabisoi

[2020-12-08 03:35] satyam20-sys commented on #17
I can do it in Java.

[2020-12-08 03:37] satyam20-sys commented on #88
I can do it in Java please assign it to me

[2020-12-08 03:37] aditkumar72 commented on #5
I can do it in Python assign this to me @adityabisoi

[2020-12-08 04:08] adityabisoi commented on #44
@vikhyatsingh123 Dont make PR unless you are assigned.

[2020-12-08 04:16] adityabisoi commented on #3
@areeb77 @aditkumar72 Create new algo issues.

[2020-12-08 05:33] mustang519 commented on #36
I have already completed the code in C++ for the 3 programs. Please mention the procedure how to upload it.

[2020-12-08 05:46] adityabisoi commented on #36
@mustang519 make a PR

[2020-12-08 05:49] mustang519 commented on #36
Alright.

[2020-12-08 06:16] areeb77 commented on #46
If any of the problems are not done any of the three languages, please assign it to me @adityabisoi

[2020-12-08 07:50] abhay313 opened #119 "Maximum element"
Problem link:
https://www.hackerrank.com/challenges/maximum-element/problem

[2020-12-08 07:51] abhay313 commented on #119
I want to implement it, into C++

[2020-12-08 07:53] #119 closed

[2020-12-08 08:04] abhay313 opened #121 "Algorithm-Easy-2"
Complete [Breaking the records](https://www.hackerrank.com/challenges/breaking-best-and-worst-records/problem) and [Sales by Match](https://www.hackerrank.com/challenges/sock-merchant/problem) with proper comments.

[2020-12-08 08:05] abhay313 commented on #121
I want to implement it into C++

[2020-12-08 08:08] stormfireuttam commented on #121
I will provide the code in Java.

[2020-12-08 08:26] satyampandeygit commented on #15
Kindly unassign me this as you have accepted solution from other contributor [PR #72](https://github.com/adityabisoi/ds-algo-solutions/pull/72)

[2020-12-08 08:34] abhay313 opened #124 "Climbing the Leaderboard"
Problem link: https://www.hackerrank.com/challenges/climbing-the-leaderboard/problem

[2020-12-08 08:35] abhay313 commented on #124
I want to implement it into C++

[2020-12-08 08:54] yashasvimisra2798 commented on #124
I can implement it in python

[2020-12-08 09:05] yashasvimisra2798 opened #125 "Heaps"
Problem link: https://www.hackerrank.com/challenges/qheap1/problem

[2020-12-08 09:05] yashasvimisra2798 commented on #125
I can do it in C++

[2020-12-08 09:08] stormfireuttam commented on #124
I can do so in Java

[2020-12-08 09:49] areeb77 commented on #121
I'll do it in python. Please assign

[2020-12-08 09:52] D3xter1922 opened #127 "encryption problem"
link: https://www.hackerrank.com/challenges/encryption/problem

[2020-12-08 09:53] D3xter1922 commented on #127
can you please assign me this problem?

[2020-12-08 11:41] mustang519 commented on #36
I have completed the task and made the Pull Request. Please have a look at it.

[2020-12-08 11:59] adityabisoi commented on #15
@satyampandeygit That PR has been closed. Make a PR soon.

[2020-12-08 12:07] JayeshGChandan commented on #125
I can do it in  python or cpp

[2020-12-08 12:13] JayeshGChandan commented on #127
I can do it in c++

[2020-12-08 12:15] v-malwade commented on #125
Can I do it in python?

[2020-12-08 12:20] adityabisoi commented on #125
@JayeshGChandan Python

[2020-12-08 12:20] adityabisoi commented on #125
@v-malwade Check any other issue or create a new one

[2020-12-08 12:50] pratyush25 opened #134 "Updating Readme for Contest problem"
The problem of "Squares of Sorted Array" has been solved but it's link has not been added.
May I add the link in the readme table?

[2020-12-08 13:07] manishaag7 commented on #88
@adityabisoi in which folder this problem will go?

[2020-12-08 13:10] adityabisoi commented on #134
Sure, sure!

[2020-12-08 13:13] adityabisoi commented on #88
@manishaag7 Create new folder in `Algorithms` as `Greedy` and the problem name and place it as `solution.py`

[2020-12-08 13:17] adityabisoi commented on #15
@sourav-suku Make and correct a PR in python ASAP. Otherwise I will have to assign to someone else.

[2020-12-08 13:18] #3 closed

[2020-12-08 13:22] adityabisoi commented on #4
@stormfireuttam Make PR in JAVA

[2020-12-08 13:22] manishaag7 commented on #88
@adityabisoi i am solving in c++ so it should be solution.cpp, right?

[2020-12-08 13:24] adityabisoi commented on #5
Issue open for JAVA

[2020-12-08 13:30] adityabisoi commented on #16
@AmanSingh0-0 @saptarshimondal1305 Make and correct PRs ASAP. Otherwise, you will be unassigned

[2020-12-08 13:31] #17 closed

[2020-12-08 13:32] adityabisoi commented on #18
@sourav-suku Make and correct a PR ASAP. Otherwise you will be unassigned

[2020-12-08 13:33] D3xter1922 commented on #127
@JayeshGChandan im already doing it in c++ and python

[2020-12-08 13:33] adityabisoi commented on #36
@prakhar1144 @mustang519 Make and correct a PR ASAP. Otherwise you will be unassigned

[2020-12-08 13:34] adityabisoi commented on #37
@yashasvimisra2798 @areeb77 Make and correct a PR ASAP. Otherwise you will be unassigned

[2020-12-08 13:35] pratyush25 opened #136 "Breaking the record"
Problem link - [https://www.hackerrank.com/challenges/breaking-best-and-worst-records/problem](url)

[2020-12-08 13:35] adityabisoi commented on #38
@AmanSingh0-0 @yashasvimisra2798 Make and correct a PR ASAP. Otherwise you will be unassigned

[2020-12-08 13:36] pratyush25 commented on #136
I can solve this in python. It has been solved only in java

[2020-12-08 13:36] adityabisoi commented on #39
@Saptashrungi @subhangi2731 Make and correct a PR ASAP. Otherwise, you will be unassigned

[2020-12-08 13:36] JayeshGChandan commented on #127
Do it in any one of them, I'll do it in other

On Tue, Dec 8, 2020, 19:03 D3xter1922 <notifications@github.com> wrote:

[2020-12-08 13:37] adityabisoi commented on #40
@subhangi2731 @AmanSingh0-0 Make and correct a PR ASAP. Otherwise, you will be unassigned

[2020-12-08 13:38] adityabisoi commented on #43
@Kerveyfelix @saloniankita @Nivedita967 Make and correct a PR ASAP. Otherwise, you will be unassigned

[2020-12-08 13:39] saloniankita commented on #43
@adityabisoi Working on it.

[2020-12-08 13:48] areeb77 commented on #37
Done. Check #137

[2020-12-08 13:56] mustang519 commented on #36
Please clarify ,  I only have to update the README and make another PR , right? Is there anything else required?

[2020-12-08 13:58] agnibhasinha commented on #124
I have done this using c++

[2020-12-08 13:59] ShreyasMore commented on #136
I can do it in C++. Please assign it to me.

[2020-12-08 14:01] RealShreyas commented on #136
The task has been assigned. They might be working on it.

[2020-12-08 14:12] ShreyasMore opened #140 "Minimum Swaps 2"
The link to the problem is [Minimum Swaps 2](https://www.hackerrank.com/challenges/minimum-swaps-2/problem).

[2020-12-08 14:13] RealShreyas commented on #140
I will provide a solution in C++. Please assign this to me.

[2020-12-08 14:40] Rishika6 commented on #140
I can provide a java solution. Please assign it to me.

[2020-12-08 14:45] #136 closed

[2020-12-08 14:47] pratyush25 commented on #140
I can implement this in Python. Please assign it to me

[2020-12-08 15:00] mustang519 commented on #36
I have updated README.md . Please check.

[2020-12-08 15:06] Nivedita967 opened #143 "Electronics Shop"
Problem Link- https://www.hackerrank.com/challenges/electronics-shop/problem (Algorithm section)

[2020-12-08 15:06] Nivedita967 commented on #143
I want to work on this in Java.

[2020-12-08 15:09] JayeshGChandan commented on #127
@D3xter1922 in which language are you doing it ?

[2020-12-08 15:17] yashasvimisra2798 commented on #143
I can take it up in c++

[2020-12-08 15:29] D3xter1922 commented on #127
im doing it in python u can do in c++ or java

[2020-12-08 15:46] Aarushi11H commented on #40
Incase they aren't done, please assign them to me in either C++ or Python

[2020-12-08 15:49] Aarushi11H commented on #37
If not done, I'll do em in C++

[2020-12-08 15:50] JayeshGChandan commented on #127
Actually I did it in Python. Please do it in Cpp or Java

[2020-12-08 15:50] Aarushi11H commented on #143
i'll take this one up in Python

[2020-12-08 15:55] adityabisoi commented on #88
yes

[2020-12-08 15:56] Aarushi11H commented on #38
Incase these arent done, please assign them to me in either C++/Python

[2020-12-08 16:03] Saptashrungi commented on #39
Currently I have some other commitments, for a few days, you can unassign me for now.

[2020-12-08 16:04] adityabisoi commented on #124
@agnibhasinha Don't make a PR if you are not assigned

[2020-12-08 16:09] adityabisoi commented on #140
All go ahead

[2020-12-08 16:10] Aarushi11H opened #145 "Heaps - Easy/ Jesse and Cookies"
Problem link: [Jesse and cookies](https://www.hackerrank.com/challenges/jesse-and-cookies/problem)

[2020-12-08 16:10] Aarushi11H commented on #145
I'll work on this in C++

[2020-12-08 16:11] adityabisoi commented on #36
@mustang519 update your README. You are using an older version. The current and stable version is much more readable. You can easily work with that

[2020-12-08 16:16] adityabisoi commented on #39
This issue is open for JAVA

[2020-12-08 16:43] satyampandeygit commented on #15
@adityabisoi you need to delete solution.cpp that was merged from  [PR](#94 ) then I can make PR

[2020-12-08 16:45] satyampandeygit opened #147 "Algorithm- Diagonal Difference"
Problem: https://www.hackerrank.com/challenges/diagonal-difference/problem Difficulty: Easy

[2020-12-08 16:46] satyampandeygit commented on #147
I want to do it in C++

[2020-12-08 16:47] adityabisoi commented on #127
@JayeshGChandan JAVA

[2020-12-08 16:51] #4 closed

[2020-12-08 16:52] anirbansaha782 commented on #147
I want to take this issue

[2020-12-08 16:54] anirbansaha782 commented on #147
I will implement in java

[2020-12-08 16:54] adityabisoi commented on #15
@satyampandeygit You contributed one of the two problems right?

[2020-12-08 16:55] Sakshay-gupta commented on #121
@adityabisoi I have done breaking records in python can i make a pull request

[2020-12-08 17:00] stormfireuttam commented on #125
I can do it in Java

[2020-12-08 17:03] stormfireuttam commented on #145
I will work on this in Java

[2020-12-08 17:07] mustang519 commented on #36
I have completed the README.md file
 . Please clarify whether all my 3 solutions are considered.

[2020-12-08 17:22] Aarushi11H commented on #147
I'll take this in Python

[2020-12-08 17:30] Aarushi11H commented on #39
Hey!
I'll take this one for java

[2020-12-08 17:32] aastha1999 commented on #88
Hi, this is the first time I'm contributing. I have completed the code in Python. Where should I upload it? I can't find the Greedy folder. Should I wait for some time?

[2020-12-08 17:41] Sakshay-gupta commented on #121
can i do sales by pair in python if available

[2020-12-08 17:41] prakhar1144 commented on #36
@adityabisoi my PR has been already merged. Please clarify what are you talking about. Some changes required ?

[2020-12-08 17:45] adityabisoi commented on #36
@prakhar1144 Reverse a Linked List doesnt have a python solution

[2020-12-08 17:46] adityabisoi commented on #88
Make Greedy folder

[2020-12-08 17:46] adityabisoi commented on #147
@Aarushi11H Not all at a time

[2020-12-08 17:50] satyampandeygit commented on #15
yes

[2020-12-08 17:52] Sakshay-gupta commented on #147
okay then please assign it to me, i'll implement it in python

[2020-12-08 17:52] adityabisoi commented on #15
@satyampandeygit It's alright then.

[2020-12-08 18:37] aastha1999 commented on #88
@adityabisoi  Done!
Link: https://github.com/adityabisoi/ds-algo-solutions/pull/154

[2020-12-08 18:55] sourav-suku commented on #15
I have already added all the solutions  for this Issue#15  .Please kindly recheck the pull request #27 .I had modified it that day itself

[2020-12-08 18:56] sourav-suku commented on #18
I have already added all the solutions  for this Issue#18  .Please kindly recheck the pull request #27 .I had modified it that day itself

[2020-12-08 19:00] vikhyatsingh123 opened #157 "Climbing the leaderboard"
[https://www.hackerrank.com/challenges/climbing-the-leaderboard/problem](url)

[2020-12-08 19:01] vikhyatsingh123 commented on #157
Can I do it in cpp?

[2020-12-08 19:02] vikhyatsingh123 opened #158 "Organizing Containers of Balls"
[https://www.hackerrank.com/challenges/organizing-containers-of-balls/problem](url)

[2020-12-08 19:02] vikhyatsingh123 commented on #158
@adityabisoi Can I do it in cpp?

[2020-12-08 19:50] pratyush25 commented on #140
@adityabisoi  could you please specify the topic under which this question falls so that I can add the solution to the appropriate folder?

[2020-12-08 20:22] aastha1999 opened #160 "The Coin Change Problem"
https://www.hackerrank.com/challenges/coin-change/problem

Solve it in C++, Python and Java.

Please assign it to me for doing it in C++.

Proposed Label: Medium

[2020-12-08 22:02] anushkasinghal11 commented on #127
Please assign it to me, I'll do it in C++

[2020-12-09 03:16] satyam20-sys commented on #157
I can do it in java ,please assign it to me.

[2020-12-09 03:19] adityabisoi commented on #140
@ShreyasMore What category is this?

[2020-12-09 04:10] satyam20-sys opened #163 "Viral Advertising"
https://www.hackerrank.com/challenges/strange-advertising/problem
Solve it in Java ,Python or C++
Can I solve it in Java ?

[2020-12-09 04:55] areeb77 commented on #121
@Sakshay-gupta my PR to Algorithm-Easy-2 in python is already merged. Please, try other issues.

[2020-12-09 05:01] Adityakrmishra1 commented on #158
can I do it in c++ and python

[2020-12-09 05:09] Aarushi11H commented on #145
I need to have another folder named "Heaps", right?

[2020-12-09 05:18] D3xter1922 opened #164 "Queen's Attack II-medium"
link: https://www.hackerrank.com/challenges/queens-attack-2/problem

[2020-12-09 05:18] D3xter1922 commented on #164
pls assign me this issue

[2020-12-09 05:39] stormfireuttam commented on #145
I think we should use a common folder structure for this question as
Heaps > Jesse_and_Cookies
where  _  indicates a space

[2020-12-09 05:41] Aarushi11H commented on #145
cool! this is exactly how i was going to do it

[2020-12-09 05:46] stormfireuttam commented on #145
And where are you thinking of adding it in the Readme.md

[2020-12-09 05:47] stormfireuttam commented on #145
we can add it after Queues

[2020-12-09 05:50] satyampandeygit commented on #164
I can do this in C++

[2020-12-09 05:50] satyampandeygit commented on #163
Can I do this in C++?

[2020-12-09 05:52] Aarushi11H commented on #145
We'll add it after Queues. Are you going to edit the readme file or shall I? I'll add solution.java too then. Or if you're doing it, then add solution.py too

[2020-12-09 05:54] stormfireuttam commented on #145
I'll edit the file and add for solution.py too.

[2020-12-09 05:59] yashasvimisra2798 commented on #163
May I take this up in Python?

[2020-12-09 06:04] yashasvimisra2798 opened #171 "jesse-and-cookies"
Problem Link: https://www.hackerrank.com/challenges/jesse-and-cookies/problem

[2020-12-09 06:04] yashasvimisra2798 commented on #171
I can do it in C++

[2020-12-09 06:05] Aarushi11H commented on #145
Hey, its solution.cpp, i am sorry

[2020-12-09 06:05] stormfireuttam commented on #145
Okay

[2020-12-09 06:08] stormfireuttam commented on #171
Please have a look at Issue #145

[2020-12-09 06:21] anushkasinghal11 commented on #160
I'll do it in JAVA. Please assign it to me.

[2020-12-09 06:22] anushkasinghal11 commented on #157
Assign it to me for JAVA

[2020-12-09 06:32] pratyush25 commented on #140
@ShreyasMore  Is it arrays ?

[2020-12-09 06:57] Nivedita967 commented on #158
Can I do this in Java?

[2020-12-09 07:05] #171 closed

[2020-12-09 07:07] yashasvimisra2798 commented on #160
I can do it in python

[2020-12-09 07:19] hr1shu opened #172 "Want to add an excel file"
The file contains 450+ questions of DSA with direct links to solutions and tutorials. The questions are sorted according to different topics of DSA. It is named as DSA cracker series. Once you solve all the questions, you will cover all the patterns and types of questions and can ace your problem-solving skills.
**I'll love to contribute for all the students like me out there.**

[2020-12-09 07:26] Adityakrmishra1 commented on #157
can I do it in python ??

[2020-12-09 07:48] yashasvimisra2798 commented on #157
Isn't it same as issue #124 ?

[2020-12-09 12:06] adityabisoi commented on #145
@stormfireuttam @Aarushi11H Please do not use `_` instead use the exact problem name with spaces. Large problem names when used with `_` become very hard to read.

[2020-12-09 12:16] stormfireuttam commented on #145
Spaces have been used while writing the file and folder names. I was just indicating the number of spaces by ( _ ) while specifying the file and folder name.

[2020-12-09 12:36] RealShreyas commented on #140
@adityabisoi @pratyush25 Yes it is under arrays.

[2020-12-09 13:42] pratyush25 commented on #140
@ShreyasMore  I am not that familiar with markdown, so whenever you complete your solution, please do add the minimum swap topic under array . I will add my solution link to the topic as well

[2020-12-09 17:11] #121 closed

[2020-12-09 17:15] adityabisoi commented on #164
Lang?

[2020-12-09 17:17] adityabisoi commented on #158
@Adityakrmishra1 Python

[2020-12-09 17:20] adityabisoi commented on #172
@hr1shu Sure, add a resources section in the README and add the file or link there.

[2020-12-09 17:23] adityabisoi commented on #157
Please read the issues and already solved problems before creating new ones. @yashasvimisra2798 Thanks for pointing this out

[2020-12-09 17:23] #157 closed

[2020-12-09 17:34] adityabisoi commented on #140
@ShreyasMore @pratyush25 @Rishika6 Let's solve problems only under DS, ALGO and CONTEST categories for now. We will extend the category later. Closing this issue. There are a lot of problems in algos and contest problems. Create new issues with them and I will assign them to you,

[2020-12-09 17:34] #140 closed

[2020-12-09 17:42] D3xter1922 commented on #164
Python

[2020-12-09 17:51] #172 closed

[2020-12-09 18:10] hr1shu opened #181 "Want to add a traversal folder"
It will contain all the traversal and searching algorithms implemented in python language.

[2020-12-09 18:12] hr1shu commented on #181
I have codes in other languages too.

[2020-12-09 18:15] adityabisoi commented on #181
@hr1shu The project doesn't aim to collect all algorithms in specific languages. It's aim is to make a curated list of all the existing problems of coding platforms(initially hackerrank) into one place. It will be extended to other platforms as well.

[2020-12-09 18:17] hr1shu commented on #181
Gotcha

[2020-12-09 18:17] #181 closed

[2020-12-09 18:28] hr1shu opened #182 "How about solutions of renowned problems of interview round??"
For example:
Stock buy and sell problem
Kadane's Algorithm
String rotation
Look and say
and many more....

[2020-12-09 18:39] Devansh252 commented on #164
I will do it in C++

[2020-12-09 18:43] Devansh252 commented on #182
How about Leet Code's ?

[2020-12-09 18:49] hr1shu commented on #182
How about geeksforgeeks and leetcode🔥❓

[2020-12-09 18:51] suhas142 commented on #164
I can also do it in C++

[2020-12-09 18:53] suhas142 commented on #2
I can do it in C++, is it available?

[2020-12-09 18:56] suhas142 commented on #16
I can do it in C++, if it's available can you assign me?

[2020-12-09 19:19] suhas142 commented on #46
I can do these in C++ and as they haven't been added yet in C++ can you assign me please?

[2020-12-09 19:28] vikhyatsingh123 opened #187 "Kitty's Calculations on a Tree"
[https://www.hackerrank.com/challenges/kittys-calculations-on-a-tree/problem](url)

[2020-12-09 19:28] vikhyatsingh123 commented on #187
Can I do it in cpp?

[2020-12-09 19:29] vikhyatsingh123 opened #188 "Square-Ten Tree"
[https://www.hackerrank.com/challenges/square-ten-tree/problem](url)

[2020-12-09 19:29] vikhyatsingh123 commented on #188
Can I do it in cpp

[2020-12-09 19:30] vikhyatsingh123 opened #189 "Balanced Forest"
[https://www.hackerrank.com/challenges/balanced-forest/problem](url)

[2020-12-09 19:30] vikhyatsingh123 commented on #189
Can I do it in cpp

[2020-12-09 19:30] vikhyatsingh123 opened #190 "Merging Communities"
[https://www.hackerrank.com/challenges/merging-communities/problem](url)

[2020-12-09 19:30] vikhyatsingh123 commented on #190
Can I do it in cpp?

[2020-12-09 19:32] suhas142 opened #191 "Find the running median"
Problem: Problem: https://www.hackerrank.com/challenges/find-the-running-median/problem
Topic: Heaps

[2020-12-09 19:34] suhas142 commented on #191
I can solve this in C++, please assign me this issue

[2020-12-09 19:37] kitarp29 commented on #160
I can do in C++

[2020-12-09 19:37] vikhyatsingh123 commented on #191
I can solve it in java, please assign me

[2020-12-09 19:38] suhas142 commented on #190
I can do it in python, I have a solution ready

[2020-12-10 03:31] adityabisoi commented on #182
@hr1shu @Devansh252 No Leetcode or gfg for now. @hr1shu Sure, that'll be great. Please create a new folder in root directory `Important Algorithms` and then the problem name folder such as `Stock Buy and Sell Problem` and write your solution as `solution.py` inside that.

[2020-12-10 03:31] adityabisoi commented on #164
@Devansh252 C++

[2020-12-10 03:32] adityabisoi commented on #164
@suhas142 Any other language, please

[2020-12-10 03:38] adityabisoi commented on #2
@suhas142 It's already done

[2020-12-10 03:39] adityabisoi commented on #16
@suhas142 Check the table in README. It's already done.

[2020-12-10 04:32] Aarushi11H commented on #191
I'll do it in Python

[2020-12-10 04:44] kitarp29 commented on #160
@adityabisoi

[2020-12-10 04:45] #37 closed

[2020-12-10 04:47] adityabisoi commented on #46
@suhas142 Go ahead, follow instructions in README

[2020-12-10 04:51] adityabisoi commented on #189
Solve others first.

[2020-12-10 05:11] adityabisoi commented on #160
@kitarp29 C++ is already taken

[2020-12-10 06:43] Rishika6 commented on #191
I can implement in java.

[2020-12-10 07:07] dolamanee6122 opened #195 "Binary Search Tree : Lowest Common Ancestor"
Problem Link: https://www.hackerrank.com/challenges/binary-search-tree-lowest-common-ancestor/problem
Topic: Trees

Solve in CPP, Java, Python

[2020-12-10 07:07] dolamanee6122 commented on #195
Can I do this in CPP?

[2020-12-10 07:27] adityabisoi commented on #195
JAVA already done

[2020-12-10 07:42] hr1shu commented on #182
On it buddy

[2020-12-10 07:44] danish1804 commented on #15
@adityabisoi CAN I WORK ON THIS ISSUE
my language preference is cpp

[2020-12-10 07:49] danish1804 commented on #46
can you assign this issue to me @adityabisoi

[2020-12-10 09:07] adityabisoi commented on #15
@danish1804 Please check newer issues, or create new ones. This one is already solved.

[2020-12-10 09:14] aditkumar72 commented on #195
Can I do this in Pyhton?

[2020-12-10 09:14] aditkumar72 commented on #195
Can I do this in Python?

[2020-12-10 09:15] aditkumar72 commented on #160
I can do it in Python

[2020-12-10 09:16] aditkumar72 commented on #43
Can I do it in Java?

[2020-12-10 09:44] manishaag7 opened #200 "Mini-Max Sum"
Problem link :-  https://www.hackerrank.com/challenges/mini-max-sum/problem

[2020-12-10 09:45] manishaag7 commented on #200
Assign it to me .I will do it in c++.

[2020-12-10 09:49] manishaag7 commented on #88
@adityabisoi completed and updated read.md too.
#155 and #185

[2020-12-10 09:51] mustang519 commented on #200
I would like to do this problem in JAVA.

[2020-12-10 10:07] yashasvimisra2798 commented on #200
I'll do it in python

[2020-12-10 11:25] Aarushi11H commented on #189
can i do this in cpp and python

[2020-12-10 11:26] Aarushi11H commented on #187
i ll do it in python

[2020-12-10 11:27] Aarushi11H commented on #188
i ll do this in python

[2020-12-10 11:53] Rishika6 commented on #191
I guess it is median not medium

[2020-12-10 11:55] shreejaverma opened #204 "Max Element and Equal Stacks"
Problem Links:
1. Equal Stacks- https://www.hackerrank.com/challenges/equal-stacks/problem
2. Max Element- https://www.hackerrank.com/challenges/maximum-element/problem

Topic: Stacks

[2020-12-10 11:56] shreejaverma commented on #204
Kindly assign it to me @adityabisoi
I want to complete it in C++

[2020-12-10 12:00] yashasvimisra2798 commented on #204
I'll do it in python

[2020-12-10 12:35] raunak6662 commented on #204
@adityabisoi I want to complete it(Max Element) in c++.
plz assign it to me.

[2020-12-10 13:12] adityabisoi commented on #43
This issue is open for C++

[2020-12-10 13:18] satyampandeygit opened #210 "Bigger is Greater"
Problem: https://www.hackerrank.com/challenges/bigger-is-greater/problem Level: Medium

[2020-12-10 13:18] adityabisoi commented on #88
@vikhyatsingh123 Make a proper PR ASAP.

[2020-12-10 13:19] satyampandeygit commented on #210
I want to do it in C++

[2020-12-10 13:22] adityabisoi commented on #189
Python

[2020-12-10 13:24] adityabisoi commented on #188
@Aarushi11H Resolve previous ones first

[2020-12-10 13:29] manishaag7 commented on #204
I will do (max element ) in java. @adityabisoi

[2020-12-10 13:32] prashant-3108 opened #211 "Binary Search Tree Insertion"
Can I do this in Python?

[2020-12-10 13:36] aditkumar72 commented on #195
added python solution #212

[2020-12-10 13:37] pratyush25 commented on #210
I can do this in python

[2020-12-10 13:38] adityabisoi commented on #204
@raunak6662 Both are already taken in C++

[2020-12-10 13:38] anushkasinghal11 opened #213 "Algorithms problems"
Angry Professor:- https://www.hackerrank.com/challenges/angry-professor/problem
Migratory Birds:- https://www.hackerrank.com/challenges/migratory-birds/problem

Solve in C++, Java and Python

[2020-12-10 13:38] adityabisoi commented on #204
@manishaag7 Please take both in JAVA

[2020-12-10 13:38] anushkasinghal11 commented on #213
Please assign it to me for C++

[2020-12-10 13:39] prashant-3108 commented on #213
Can I do these in Python?

[2020-12-10 13:40] prashant-3108 commented on #213
I can do these in Python. Please assign it to me in Python.

[2020-12-10 13:40] aditkumar72 commented on #43
Can I do it in C++?

[2020-12-10 13:42] Aarushi11H commented on #213
I'll do em for JAVA, i  have already implemented these!!!

[2020-12-10 14:01] manishaag7 commented on #204
@adityabisoi ohk

[2020-12-10 14:11] Shagufta08 commented on #211
Hi!
Can I do this in CPP?

[2020-12-10 14:12] #191 closed

[2020-12-10 14:18] Nivedita967 commented on #210
I will do this in Java.

[2020-12-10 14:25] prashant-3108 commented on #211
Please refer to the README and select issue which is not done. CPP is done for this.

[2020-12-10 14:29] Nivedita967 opened #215 "Repeated problems in Readme"
In the table of Readme file, Most of the problems Trees Topic onward are repeated and there links are not correctly placed.

[2020-12-10 14:30] Nivedita967 commented on #215
I can work on this.

[2020-12-10 15:42] adityabisoi commented on #215
@Nivedita967 Please go ahead.

[2020-12-10 15:47] prashant-3108 commented on #215
I was working in same section of Trees so I did it while updating my README. @Nivedita967 Please head onto another issue.

[2020-12-10 15:52] prashant-3108 opened #219 "Arrays - Left Rotation and Sparse Arrays"
Can I do these in Python?

[2020-12-10 16:05] raghu0812199 commented on #219
can i do it c++

[2020-12-10 16:11] adityabisoi commented on #215
@prashant-3108 Not any broken or redundant links/folders/files now?

[2020-12-10 16:21] prashant-3108 commented on #215
@adityabisoi In trees section, there are no redundant links/folders/files now. For other sections you have assigned an README update issue. I have not checked all. Ill check and get back to you.

[2020-12-10 16:36] prashant-3108 commented on #215
@adityabisoi Many sections don't have proper links attached like arrays. So that has to be assigned as previously it is not done till now.

[2020-12-10 16:47] #2 closed

[2020-12-10 16:47] #5 closed

[2020-12-10 16:48] stormfireuttam opened #224 "Algorithms - Bit Manipulation"
Can I work on these problems in Java
1) [Lonely Integer](https://www.hackerrank.com/challenges/lonely-integer/problem)
2) [Sum vs XOR](https://www.hackerrank.com/challenges/sum-vs-xor/problem)
3) [Maximizing XOR](https://www.hackerrank.com/challenges/maximizing-xor/problem)

[2020-12-10 16:48] abhay313 opened #225 "Algorithms-Easy-3"
complete the following problems:
 [Birthday Cake Candles](https://www.hackerrank.com/challenges/birthday-cake-candles/problem), [Sub-array Division](https://www.hackerrank.com/challenges/the-birthday-bar/problem) and [Bill Division](https://www.hackerrank.com/challenges/bon-appetit/problem)

[2020-12-10 16:49] abhay313 commented on #225
I want to implement it in C++.

[2020-12-10 16:49] stormfireuttam commented on #225
I would like to work on them in Java

[2020-12-10 16:49] adityabisoi commented on #219
Left rotation was done just now. Please go ahead with sparse arrays.

[2020-12-10 16:50] adityabisoi commented on #219
@raghu0812199 Already done in C++. Please check the table.

[2020-12-10 16:50] #124 closed

[2020-12-10 16:56] stormfireuttam commented on #219
Can I do it in Java

[2020-12-10 16:56] prashant-3108 commented on #219
Ok I will do sparse array python.

[2020-12-10 16:57] abhay313 opened #226 "Algorithms-Medium-1"
Complete the following:
[Maximum Palindromes](https://www.hackerrank.com/challenges/maximum-palindromes/problem) and [Common Child](https://www.hackerrank.com/challenges/common-child/problem)

[2020-12-10 16:58] abhay313 commented on #226
I want to implement it in C++.

[2020-12-10 17:01] stormfireuttam commented on #226
Can I work on them in Java

[2020-12-10 17:16] aditkumar72 commented on #43
Added the solution of problems- Maximum element, Equal stacks in C++ #227

[2020-12-10 17:22] prashant-3108 commented on #224
Can I work on them in c++?

[2020-12-10 17:40] adityabisoi commented on #215
@prashant-3108 Yes I checked that just now. I will create new issues regarding each section. Closing this issue for now.

[2020-12-10 17:40] #215 closed

[2020-12-10 17:42] adityabisoi commented on #226
@abhay313 complete others first.

[2020-12-10 17:43] #43 closed

[2020-12-10 17:45] aastha1999 opened #231 "Algorithms(DP)-Dorsey Thief"
Problem Link: https://www.hackerrank.com/challenges/dorsey-thief/problem

Do it in C++, Python and Java.

Please assign it to me for doing the problem C++.

Proposed Label: Hard/Advanced

[2020-12-10 17:51] adityabisoi opened #232 "Correct all folders and links for Arrays"
Correct all the folder names and links in README for the `Arrays` category.

The problem names in folders and README must be exactly the same as those in https://www.hackerrank.com/domains/data-structures?filters%5Bsubdomains%5D%5B%5D=arrays

Every link should be fixed as well.

[2020-12-10 17:52] stormfireuttam commented on #232
I can work on it

[2020-12-10 17:53] adityabisoi opened #234 "Correct all folders and links for Linked Lists"
Correct all the folder names and links in README for the Linked Lists category.

The problem names in folders and README must be precisely the same as those in https://www.hackerrank.com/domains/data-structures?filters%5Bsubdomains%5D%5B%5D=linked-lists

Every link should be fixed as well.

[2020-12-10 17:53] adityabisoi commented on #232
@stormfireuttam Let us allow beginners to contribute to this one.

[2020-12-10 17:54] vikhyatsingh123 commented on #232
@adityabisoi I can do it.

[2020-12-10 17:55] manishaag7 commented on #234
I can work on this.

[2020-12-10 17:56] adityabisoi opened #235 "Correct all folders and links for Stacks"
Correct all the folder names and links in README for the Stacks category.

The problem names in folders and README must be precisely the same as those in https://www.hackerrank.com/domains/data-structures?filters%5Bsubdomains%5D%5B%5D=stacks

Every link should be fixed as well.

[2020-12-10 17:57] adityabisoi opened #236 "Correct all folders and links for Queues"
Correct all the folder names and links in README for the Queues category.

The problem names in folders and README must be precisely the same as those in https://www.hackerrank.com/domains/data-structures?filters%5Bsubdomains%5D%5B%5D=queues

Every link should be fixed as well.

[2020-12-10 17:58] prashant-3108 commented on #232
@adityabisoi Also in Algorithms Folder, Problems must be in there Topic Like Greedy or Implementation or Dynamic Programming etc. At present, they are random. Please create an issue for this also.

[2020-12-10 18:03] adityabisoi opened #237 "Correct all folders and links for Heap"
Correct all the folder names and links in README for the Heap category.

Edit name from `Heaps` to `Heap`

The problem names in folders and README must be precisely the same as those in https://www.hackerrank.com/domains/data-structures?filters%5Bsubdomains%5D%5B%5D=heap

Every link should be fixed as well.

[2020-12-10 18:04] adityabisoi opened #238 "Correct all folders and links for Algorithms"
Correct all the folder names and links in README for the Algorithms category.

Problems should be categorized, for example, `Algorithms/Implementation/Grading Students`

The problem names in folders and README must be precisely the same as those in https://www.hackerrank.com/domains/algorithms

Every link should be fixed as well.

[2020-12-10 18:06] #182 closed

[2020-12-10 18:07] adityabisoi opened #239 "Correct all folders and links for Contest Problems"
Correct all the folder names and links in README for the Contest Problems category.

The problem names in folders and README must be precisely the same as those in the HackerRank problems.

Every link should be fixed as well.

[2020-12-10 18:09] adityabisoi opened #241 "Correct all folders and links for Trees"
Correct all the folder names and links in README for the Trees category.

The problem names in folders and README must be precisely the same as those in https://www.hackerrank.com/domains/data-structures?filters%5Bsubdomains%5D%5B%5D=trees   except, `:`  mark in problem names must be replaced with `-` and `?` mark should not be used at all.

Every link should be fixed as well.

[2020-12-10 18:10] vikhyatsingh123 commented on #188
[https://github.com/adityabisoi/ds-algo-solutions/pull/240](url)
I added code in cpp

[2020-12-10 18:18] vikhyatsingh123 commented on #187
[https://github.com/adityabisoi/ds-algo-solutions/pull/242](url)
Here my PR for #187

[2020-12-10 18:22] manishaag7 commented on #204
I think this two question are already done separately.

[2020-12-10 18:46] #38 closed

[2020-12-10 18:48] #15 closed

[2020-12-10 18:49] #18 closed

[2020-12-10 18:51] #36 closed

[2020-12-10 19:10] manishaag7 opened #246 "Luck Balance"
Problem link :-   https://www.hackerrank.com/challenges/luck-balance/problem
Level - Easy.
I want to solve the problem in c++.

[2020-12-10 19:12] manishaag7 commented on #204
@adityabisoi sorry but i don't want to work on this issue anymore. Can u unassign me.

[2020-12-10 19:55] avivijay19 commented on #246
Can you assign me this issue??

[2020-12-10 19:58] avinash14022002 commented on #235
Can you assign me this issue??

[2020-12-10 20:27] anushkasinghal11 commented on #225
Assign me for python

[2020-12-11 03:21] adityabisoi opened #250 "Create code of conduct"
Create a code of conduct.

[2020-12-11 03:22] adityabisoi opened #251 "Issue Template"
Create an issue template. Contributors should mention the problem link, category, and difficulty.

[2020-12-11 03:24] adityabisoi opened #252 "Create a PR template"
The contributors should be able to mention the issue number, and checklist with `Updated README Link` and `Added code with comments`

[2020-12-11 03:25] adityabisoi opened #253 "Contribution guidelines"
Add contribution guidelines currently mentioned in the README to a new file.

[2020-12-11 03:54] Tanvie commented on #236
@adityabisoi  please assign it to me.

[2020-12-11 04:07] Tanvie commented on #224
I can do it in python. Please assign it to me.

[2020-12-11 04:07] avivijay19 commented on #231
Can you assign me this issue??

[2020-12-11 04:19] stormfireuttam commented on #231
@avinash14022002 can you provide the code in Java or Python?

[2020-12-11 04:21] avivijay19 commented on #231
@stormfireuttam
yes, in java

[2020-12-11 05:15] itish-agarwal commented on #241
Hi can I work on this

[2020-12-11 05:23] itish-agarwal opened #255 "Merging Communities"

[2020-12-11 05:23] itish-agarwal opened #256 "https://www.hackerrank.com/challenges/components-in-graph/problem"

[2020-12-11 05:23] itish-agarwal commented on #256
Level : medium
Folder : Disjoint Union/Merging communities
Can I do this in C++?

[2020-12-11 05:25] itish-agarwal commented on #255
https://www.hackerrank.com/challenges/components-in-graph/problem
Level: Medium
Folder: Disjoint Union/Merging communities
Can I work on this in C++?

[2020-12-11 05:25] #256 closed

[2020-12-11 05:26] #255 closed

[2020-12-11 05:28] itish-agarwal opened #258 "Components in a graph"
https://www.hackerrank.com/challenges/components-in-graph/problem
Difficulty: medium
Folder: Disjoint Sets
Can I work on this in C++?

[2020-12-11 05:50] satyam20-sys commented on #237
I can do this please assign it to me.

[2020-12-11 06:16] satyam20-sys commented on #253
It can be done by me.

[2020-12-11 07:28] Aarushi11H commented on #145
the only file left here is solution.py . i ll make the commit too just rn. then you may close the issue

[2020-12-11 08:00] #145 closed

[2020-12-11 08:06] Nivedita967 commented on #252
I can work on this issue.

[2020-12-11 08:11] aastha1999 opened #265 "Algorithms(DP)- The Longest Common Subsequence"
Problem Link: https://www.hackerrank.com/challenges/dynamic-programming-classics-the-longest-common-subsequence/problem
Do it in C++, Python and Java.

Please assign it to me for doing the problem C++.

Proposed Label: moderate

[2020-12-11 08:12] danish1804 commented on #213
Plss assign this issue to me, I can do it in cpp @anushkasinghal11 @aditkumar72

[2020-12-11 08:13] danish1804 commented on #225
I would like to work on it in cpp plss assign this to me.

[2020-12-11 08:14] danish1804 commented on #241
Can I work on this issue @adityabisoi

[2020-12-11 08:16] stormfireuttam commented on #225
@danish1804  someone else is already assigned for providing solution in cpp

[2020-12-11 08:16] #160 closed

[2020-12-11 08:22] Nivedita967 commented on #265
I can do this in Java.

[2020-12-11 08:30] Aarushi11H commented on #250
Hey! I wish to do this.

[2020-12-11 08:35] subhangi2731 commented on #251
I wish to work on this assign me

[2020-12-11 08:36] subhangi2731 commented on #239
i want to work on this

[2020-12-11 08:37] subhangi2731 commented on #238
assign this to me

[2020-12-11 08:45] subhangi2731 commented on #253
i want to work on this

[2020-12-11 08:56] subhangi2731 commented on #237
i want to do this please

[2020-12-11 09:09] #211 closed

[2020-12-11 09:25] #219 closed

[2020-12-11 09:41] #16 closed

[2020-12-11 09:42] stormfireuttam opened #268 "Array Manipulation"
Provide code for [Array Manipulation](https://www.hackerrank.com/challenges/crush/problem) in Java

[2020-12-11 09:46] stormfireuttam commented on #268
In Python as well

[2020-12-11 10:10] itish-agarwal commented on #268
Hi can I do this in java?

[2020-12-11 10:20] yashasvimisra2798 commented on #268
can I do it in python?

[2020-12-11 10:25] yashasvimisra2798 opened #271 "Flipping bits"
Problem link: https://www.hackerrank.com/challenges/flipping-bits/problem

[2020-12-11 10:26] yashasvimisra2798 commented on #271
I want to do it in c++

[2020-12-11 10:30] yashasvimisra2798 opened #272 "Marc's Cakewalk"
Problem link: https://www.hackerrank.com/challenges/marcs-cakewalk/problem

[2020-12-11 10:31] yashasvimisra2798 commented on #272
I want to do it in C++

[2020-12-11 10:31] satyam20-sys commented on #271
I can do this in java.

[2020-12-11 10:37] satyam20-sys commented on #272
I can do this in Java.

[2020-12-11 10:38] satyam20-sys commented on #237
okay you can assign it to @subhangi2731 .I can work on the other issues.

[2020-12-11 10:46] manishaag7 opened #275 "Birthday Cake Candles"
Problem link:-   https://www.hackerrank.com/challenges/birthday-cake-candles/problem

I will do it in c++.

[2020-12-11 10:48] #200 closed

[2020-12-11 10:56] yashasvimisra2798 commented on #275
I can do it in python

[2020-12-11 10:57] satyam20-sys commented on #275
I can do this in Java.

[2020-12-11 11:09] stormfireuttam commented on #275
@yashasvimisra2798 please complete the previously assigned tasks first.

[2020-12-11 11:14] itish-agarwal opened #278 "Merging Communities"
https://www.hackerrank.com/challenges/merging-communities/problem
Could I do this in C++ as it has not yet been done in C++

[2020-12-11 11:19] satyam20-sys commented on #272
@yashasvimisra2798 and @stormfireuttam  this program will go under which folder ?

[2020-12-11 11:45] anushkasinghal11 commented on #271
Assign me for python

[2020-12-11 11:55] yashasvimisra2798 commented on #272
I guess the folder for algorithms

[2020-12-11 12:34] #272 closed

[2020-12-11 12:45] yashasvimisra2798 commented on #275
@stormfireuttam I have completed them. Can I take this up now?

[2020-12-11 12:49] abhay313 commented on #275
this problem is already taken in  #225

[2020-12-11 12:52] adityabisoi commented on #275
@abhay313 Thank you for pointing this out. Closing this issue.

[2020-12-11 12:52] #275 closed

[2020-12-11 13:00] abhay313 commented on #275
readme file is not updated for cpp solution,

[2020-12-11 13:03] subhangi2731 commented on #238
@adityabisoi ??

[2020-12-11 14:13] chirag-ghosh commented on #237
can you assign it to me ? @adityabisoi

[2020-12-11 14:42] anushkasinghal11 opened #292 "Algorithms easy 4"
Halloween sale-https://www.hackerrank.com/challenges/halloween-sale/problem

Chocolate feast-https://www.hackerrank.com/challenges/chocolate-feast/problem

Assign to me in C++

[2020-12-11 14:43] Aarushi11H commented on #292
i'll take em for python.

[2020-12-11 15:01] adityabisoi commented on #292
@Aarushi11H Please complete all the previous issues.

[2020-12-11 15:02] Aarushi11H commented on #292
completed, i have nothing pending.

[2020-12-11 15:07] Aarushi11H commented on #265
I'll do it in Python

[2020-12-11 15:30] Sakshay-gupta commented on #292
Can i do it please i have been idle for some time

[2020-12-11 15:43] pratyush25 commented on #292
It would be better if you assign one problem per person.
I am willing to solve them in Python

[2020-12-11 15:50] Sakshay-gupta commented on #292
okay i would like to do halloween sale

[2020-12-11 16:03] manishaag7 opened #297 "Save the Prisoner"
Problem link :-  https://www.hackerrank.com/challenges/save-the-prisoner/problem

[2020-12-11 16:04] chirag-ghosh commented on #237
Done. Please check

[2020-12-11 16:10] mustang519 commented on #278
I would like to do this in JAVA. Please assign it to me.

[2020-12-11 16:11] mustang519 commented on #297
I would like to do this in either C++ and JAVA. Please assign it to me.

[2020-12-11 16:22] pratyush25 commented on #297
I can do in python !
Please assign it to me

[2020-12-11 16:45] Dhruv-Rathi commented on #297
I can do this in c++. Please assign this to me.

[2020-12-11 16:48] adityabisoi commented on #297
@mustang519 JAVA

[2020-12-11 17:13] #268 closed

[2020-12-11 17:23] GunjanDhanuka commented on #234
Can you assign this to me? I am new to open source and would like to learn!

[2020-12-11 17:30] vikhyatsingh123 commented on #232
[https://github.com/adityabisoi/ds-algo-solutions/pull/300](url)
I corrected all the folder names and links in README file for arrays.

[2020-12-11 17:30] stormfireuttam commented on #292
@Sakshay-gupta can you provide the code in Java

[2020-12-11 17:32] manishaag7 opened #301 "Library Fine"
Problem Link :-   https://www.hackerrank.com/challenges/library-fine/problem
I want to do it in c++.

[2020-12-11 17:37] Sakshay-gupta commented on #292
Sorry, I know python only

[2020-12-11 17:50] #143 closed

[2020-12-11 17:53] Rishika6 commented on #292
I can provide in java. Please assign it to me.

[2020-12-11 17:54] SomyaGandhi commented on #301
I can do it in python

[2020-12-11 18:05] krishmurarka commented on #265
I can do this in cpp

[2020-12-11 18:08] krishmurarka commented on #301
i can do it in java

[2020-12-11 18:20] #213 closed

[2020-12-11 19:13] abhay313 opened #304 "Algorithm-medium-1"
Complete the following problems:
[The Great XOR](https://www.hackerrank.com/challenges/the-great-xor/problem), [Sansa and XOR](https://www.hackerrank.com/challenges/sansa-and-xor/problem) and [Xor-sequence](https://www.hackerrank.com/challenges/xor-se/problem)

[2020-12-11 19:13] abhay313 commented on #304
I want to implement it in C++

[2020-12-11 20:02] #225 closed

[2020-12-12 00:12] Panda6388 opened #306 "Non-divisible subset"
Problem link:-
[Non-divisible subset](https://www.hackerrank.com/challenges/non-divisible-subset/problem)
Problem level:Medium
I can do it in cpp. Please assign it to me.

[2020-12-12 01:03] yashasvimisra2798 commented on #306
I will do it in Python

[2020-12-12 01:04] yashasvimisra2798 commented on #304
I'll do it in python.

[2020-12-12 01:43] Panda6388 opened #307 "Sherlock and the Valid String"
Problem link:-
[Sherlock and the Valid String](https://www.hackerrank.com/challenges/sherlock-and-valid-string/problem)
Problem level: Medium
I can work in cpp. Please assign.

[2020-12-12 01:58] #237 closed

[2020-12-12 02:00] #253 closed

[2020-12-12 02:05] adityabisoi commented on #251
@subhangi2731 Please do this ASAP

[2020-12-12 02:05] adityabisoi commented on #252
@Nivedita967 Please do this ASAP

[2020-12-12 02:17] #232 closed

[2020-12-12 02:27] #250 closed

[2020-12-12 02:30] adityabisoi commented on #292
@Sakshay-gupta It is your responsibility to comment on issues first or to create your new issues!

[2020-12-12 02:31] adityabisoi commented on #187
This issue is open for JAVA

[2020-12-12 03:07] abhay313 commented on #307
I can do it in java

[2020-12-12 03:26] abhay313 commented on #231
This problem has merged twice in [Algorithm section](https://github.com/adityabisoi/ds-algo-solutions)

[2020-12-12 03:46] adityabisoi commented on #231
@abhay313 Where?

[2020-12-12 03:53] itish-agarwal opened #308 "Super Maximum Cost Queries"
https://www.hackerrank.com/challenges/maximum-cost-queries/problem
Folder: Disjoint Sets
Difficulty: Hard
Can I do this in C++

[2020-12-12 03:56] abhay313 commented on #231
in algorithm section first row and 16th row, there are two dorsey thief in README

[2020-12-12 03:58] adityabisoi commented on #231
Resolved, thanks for pointing out!

[2020-12-12 04:30] stormfireuttam commented on #308
I would like to work on this in Java

[2020-12-12 04:30] stormfireuttam commented on #306
I would like to work on it in Java

[2020-12-12 04:31] stormfireuttam commented on #304
I would like to work on them in Java

[2020-12-12 05:24] SomyaGandhi commented on #307
I can do in python

[2020-12-12 06:13] Aarushi11H commented on #265
Here, I have to make folders like `Algorithms`->`Dynamic Programming`->`The Longest Common Subsequence`->`solution.py`
or
`Algorithms`->`The Longest Common Subsequence`->`solution.py`

[2020-12-12 07:50] krishmurarka opened #322 "climbing-the-leaderboard"
https://www.hackerrank.com/challenges/climbing-the-leaderboard/problem

I can do it in java
please assign.

[2020-12-12 08:00] #278 closed

[2020-12-12 08:14] adityabisoi commented on #308
Open for python

[2020-12-12 08:23] adityabisoi commented on #265
First one

[2020-12-12 08:56] satyam20-sys commented on #322
@krishmurarka this problem is already solved.

[2020-12-12 08:57] sushantskd1357 commented on #322
https://www.hackerrank.com/challenges/climbing-the-leaderboard/problem

Can I do it in CPP??
please assign.

[2020-12-12 10:31] jaisai6 opened #326 "Bit manipulation(Medium)"
The Great XOR : [https://www.hackerrank.com/challenges/the-great-xor/problem](url)
Xor-sequence: [https://www.hackerrank.com/challenges/xor-se/problem](url)

[2020-12-12 10:31] jaisaikr commented on #326
I can do it in c++

[2020-12-12 10:32] jaisaikr commented on #326
@adityabisoi please assign this to me.

[2020-12-12 10:35] Nivedita967 commented on #326
I can do this in Java.

[2020-12-12 11:46] adityabisoi commented on #322
@krishmurarka Please see the solved problems before creating issues

[2020-12-12 11:46] #322 closed

[2020-12-12 12:10] #252 closed

[2020-12-12 13:55] SomyaGandhi commented on #326
I can do it in python

[2020-12-12 14:25] 9razakhan6 commented on #46
I can do these in Java, if open @adityabisoi

[2020-12-12 14:43] adityabisoi commented on #46
@RazaKhanGit JAVA is already done. Try other ones, or create new ones.

[2020-12-12 15:11] shreejaverma commented on #204
@adityabisoi Someone else has completed the above problems in c++ after it was assigned to me so could you please unassign me now

[2020-12-12 15:11] 9razakhan6 commented on #246
I can do this in Java, if open?

[2020-12-12 15:27] #45 closed

[2020-12-12 15:56] adityabisoi commented on #204
@shreejaverma It was not done before assigned to you, rather you opened the issue after it was already done. Please read the README to first see the list of all the programs covered, and create issues for unsolved ones.

[2020-12-12 15:58] adityabisoi commented on #246
@avinash14022002 Are you working on this?

[2020-12-12 16:00] avivijay19 commented on #246
@adityabisoi  yess
will generate PR by night

[2020-12-12 17:08] shreejaverma commented on #204
@adityabisoi since I cannot see the exact time at which the work was completed and the issue was also opened 2 days ago, also I had checked the README before opening the issue, but I was just trying to mention the reason why I wanted you to unassign, that's all.

[2020-12-12 17:11] #39 closed

[2020-12-12 17:20] adityabisoi commented on #204
Yeah, that is completely reasonable in large-scale projects. Almost all problems except from `Algorithms` section are taken. So, try some problems from that category, if you want. Many are not done yet.

[2020-12-12 18:37] Subhankar4901 commented on #127
I can do it c++.

[2020-12-12 19:33] abhay313 commented on #326
same issue as #304

[2020-12-12 19:43] vikhyatsingh123 commented on #187
@adityabisoi Can I do it java too

[2020-12-12 19:50] #326 closed

[2020-12-12 20:01] vikhyatsingh123 opened #338 "Kundu and Tree"
[https://www.hackerrank.com/challenges/kundu-and-tree/problem](url)

[2020-12-12 20:01] vikhyatsingh123 commented on #338
Can I do it in cpp

[2020-12-12 20:02] vikhyatsingh123 opened #339 "Truck Tour"
[https://www.hackerrank.com/challenges/truck-tour/problem](url)
Queue question

[2020-12-12 20:03] Subhankar4901 commented on #210
I can do this in c++

[2020-12-12 20:03] vikhyatsingh123 commented on #339
Can I do it in cpp and python

[2020-12-12 20:07] vikhyatsingh123 opened #340 "Queries with Fixed Length"
[https://www.hackerrank.com/challenges/queries-with-fixed-length/problem](url)
Queue question

[2020-12-12 20:09] vikhyatsingh123 commented on #340
Can I do it in python

[2020-12-12 20:11] vikhyatsingh123 opened #341 "Minimum Average Waiting Time"
[https://www.hackerrank.com/challenges/minimum-average-waiting-time/problem](url)
Heap question

[2020-12-12 20:12] vikhyatsingh123 commented on #341
Can I do it in cpp

[2020-12-12 21:06] avivijay19 commented on #341
Can I do it in java??

[2020-12-12 21:27] verma-shivani commented on #340
May i do it in cpp .PLease assign this to me.

[2020-12-13 02:43] adityabisoi commented on #127
Unassigning @JayeshGChandan due to inactivity and assigning @Subhankar4901

[2020-12-13 02:46] adityabisoi commented on #241
This task should be completed by tonight since it's really important for the project now. @danish1804

[2020-12-13 02:47] adityabisoi commented on #239
This task should be completed by tonight since it's really important for the project now. @subhangi2731

[2020-12-13 02:47] adityabisoi commented on #238
This task should be completed by tonight since it's really important for the project now. @subhangi2731

[2020-12-13 02:47] adityabisoi commented on #236
This task should be completed by tonight since it's really important for the project now. @Tanvie

[2020-12-13 02:49] adityabisoi commented on #234
@manishaag7 I see you are a frequent contributor to the project, while this issue is only for beginners. Can you work on other issues and let this be done by beginners?

[2020-12-13 02:57] yashasvimisra2798 commented on #341
Can I do it in python?

[2020-12-13 05:21] adityabisoi commented on #338
Please resolve all previous issues. Comment to unassign on issues which you've been assigned, but made a PR already.

[2020-12-13 05:22] adityabisoi commented on #210
@satyampandeygit Are you working on this?

[2020-12-13 05:23] adityabisoi commented on #340
@vikhyatsingh123 Complete all others first

[2020-12-13 05:27] #292 closed

[2020-12-13 05:28] satyampandeygit commented on #210
I will do this by EOD, I had exams

[2020-12-13 06:13] codewithvk opened #349 "Give credit to contributors."
Add contributors name in the readme file.

[2020-12-13 06:14] codewithvk commented on #349
I want to work on this.  can you assign me?

[2020-12-13 06:56] Nivedita967 commented on #339
Please select any one language.

[2020-12-13 08:17] manishaag7 commented on #234
ohk @adityabisoi

[2020-12-13 09:01] adityabisoi commented on #349
This is a good idea, but I suppose the README will be very long with the list of problem names on it, along with the cast amount of contributors. I will re-open this issue once the folder structure is refactored and we decide a way to expand the project.

[2020-12-13 09:03] adityabisoi commented on #234
@GunjanDhanuka Please go ahead and make a PR asap

[2020-12-13 11:34] yashasvimisra2798 commented on #338
Can I do this in C++ or python?

[2020-12-13 11:34] yashasvimisra2798 commented on #308
I can do it in python

[2020-12-13 12:03] yashasvimisra2798 commented on #340
Can I do it in python?

[2020-12-13 12:18] Aarushi11H commented on #338
i'll take this for python

[2020-12-13 12:19] Aarushi11H commented on #339
I'll do it in Python or cpp

[2020-12-13 12:20] Aarushi11H commented on #340
I'll do this one in JAVA

[2020-12-13 13:05] #265 closed

[2020-12-13 13:15] ShreyaDhir opened #359 "Arrays - DS"
Problem - https://www.hackerrank.com/challenges/arrays-ds/problem
Topic - Arrays

[2020-12-13 13:15] ShreyaDhir commented on #359
I would like to work on the C++ Problem, assign it to me @adityabisoi

[2020-12-13 13:41] 9razakhan6 commented on #359
I can do this in Java, if open?

[2020-12-13 14:17] jaisai6 opened #363 "Greedy (medium)"
Greedy Florist: [https://www.hackerrank.com/challenges/greedy-florist/problem](url)
Beautiful Pairs: [https://www.hackerrank.com/challenges/beautiful-pairs/problem](url)

[2020-12-13 14:17] jaisaikr commented on #363
I want to work on this in c++. @adityabisoi please, assign this to me.

[2020-12-13 14:20] Nivedita967 commented on #363
I will work in Java.

[2020-12-13 14:40] #271 closed

[2020-12-13 14:49] yashshah14093 opened #365 "Algorithm: Minimum Loss"
Sorting problem
https://www.hackerrank.com/challenges/minimum-loss/problem

[2020-12-13 14:50] yashshah14093 commented on #365
Python Solution
[https://github.com/adityabisoi/ds-algo-solutions/pull/361](url)

[2020-12-13 14:54] manishaag7 opened #366 "Priyanka and Toys"
Problem link :-   https://www.hackerrank.com/challenges/priyanka-and-toys/problem

 I want to do it in c++.

[2020-12-13 14:56] manishaag7 commented on #365
Can i do it in c++.

[2020-12-13 14:58] vikasahlawat228 commented on #365
I can do it in java!

[2020-12-13 15:16] Nivedita967 commented on #366
I can do this in Java.

[2020-12-13 15:17] Nivedita967 commented on #366
I can do this in Java.

[2020-12-13 15:24] Nivedita967 commented on #365
@yashshah14093 In which language?

[2020-12-13 15:25] pratyush25 commented on #366
I can try it in python. Please assign it.

[2020-12-13 15:26] yashshah14093 commented on #365
@Nivedita967 Solved using python. Already made a PR.

[2020-12-13 15:28] manishaag7 commented on #365
@Nivedita967 Can u assign me for c++?

[2020-12-13 15:33] prakhar1144 commented on #359
I can do this in Python

[2020-12-13 15:42] Nivedita967 commented on #365
@manishaag7 go for it.

[2020-12-13 16:05] GunjanDhanuka commented on #234
I am sorry we had a test and then an event at college today so I couldnt do that. I am really sorry and will complete it asap.

[2020-12-13 16:31] Sakshay-gupta opened #368 "Cut The Sticks"
Problem link :- https://www.hackerrank.com/challenges/cut-the-sticks/problem
Algorithm-Easy
I want to do it in python

[2020-12-13 16:32] vikasahlawat228 commented on #365
I can do it in Java!

[2020-12-13 16:34] Nivedita967 commented on #368
I can do this in Java.

[2020-12-13 16:54] abhay313 commented on #368
I can do it in C++

[2020-12-13 17:13] Nivedita967 commented on #363
I can do this in Java.

[2020-12-13 17:32] prakhar1144 commented on #44
@adityabisoi  can i do these problems in C++, it is unsolved for over a week

[2020-12-13 17:43] yashasvimisra2798 commented on #363
I'll go for Python.

[2020-12-13 18:01] #359 closed

[2020-12-14 03:46] subhangi2731 opened #371 "ACM ICPC Team"
Problem Link :- https://www.hackerrank.com/challenges/acm-icpc-team/problem
Algorithm - Easy

[2020-12-14 03:47] subhangi2731 commented on #371
I wish to do this in python

[2020-12-14 03:54] vikasahlawat228 commented on #371
I will do it in java

[2020-12-14 03:59] subhangi2731 commented on #339
@vikhyatsingh123 U can do it in cpp but first complete all other issues assigned to u

[2020-12-14 03:59] subhangi2731 commented on #339
@Aarushi11H u can do it in python

[2020-12-14 04:02] subhangi2731 commented on #340
@verma-shivani go for it in cpp

[2020-12-14 04:03] subhangi2731 commented on #340
@yashasvimisra2798 go for it in python

[2020-12-14 04:03] subhangi2731 commented on #340
@Aarushi11H go for it in java

[2020-12-14 04:04] subhangi2731 commented on #340
@vikhyatsingh123 Please complete all other previous issues assigned to u first

[2020-12-14 04:11] subhangi2731 commented on #371
Ok go for it @vikasahlawat228

[2020-12-14 05:57] darsh169 commented on #371
I will do it in c++. pls assign

[2020-12-14 07:06] #308 closed

[2020-12-14 09:43] manishaag7 commented on #301
@Nivedita967 can u unassign me i have submitted the solution.

[2020-12-14 10:11] chirag-ghosh commented on #241
I can work on this

[2020-12-14 11:17] yashshah14093 commented on #158
@adityabisoi @Nivedita967 Can I solve this in Python?

[2020-12-14 12:10] uddeshyatyagi opened #386 "3D surface Area"
Algorithm-3D surface area
problem link-https://www.hackerrank.com/challenges/3d-surface-area/problem
level-medium

[2020-12-14 12:11] uddeshyatyagi commented on #386
can i do it in c++ ?

[2020-12-14 13:02] Nivedita967 commented on #386
@uddeshyatyagi go for it, place this in the folder of Implementation in Algorithms .

[2020-12-14 13:26] sai-vamshi-18 commented on #239
If the task is not  done yet ,can you assign it to me?

[2020-12-14 13:32] Dhruv-Rathi commented on #297
Please see if this solution can be merged.

[2020-12-14 13:35] vikasahlawat228 commented on #386
I can do it in java

[2020-12-14 13:39] vikasahlawat228 commented on #258
I can do it in java

[2020-12-14 13:42] 9razakhan6 commented on #386
I can do this in python.

[2020-12-14 14:07] vikasahlawat228 commented on #339
I can do it in java

[2020-12-14 14:18] adityabisoi commented on #251
@subhangi2731 Make a new PR with proper file path.

[2020-12-14 14:22] adityabisoi commented on #239
@sai-vamshi-18 Go ahead

[2020-12-14 14:25] adityabisoi commented on #241
Unassigning @danish1804 and assigning @chirag828049 . Please make a PR within tomorrow

[2020-12-14 14:25] subhangi2731 commented on #239
@adityabisoi i will do it by today

[2020-12-14 14:26] subhangi2731 commented on #239
why are u unassigning me

[2020-12-14 14:27] adityabisoi commented on #158
@Adityakrmishra1 Are you working on this?

[2020-12-14 14:27] subhangi2731 commented on #239
please dont vent your frustation of somewhere on this issue please assign me i will do it by today

[2020-12-14 14:27] subhangi2731 commented on #239
i will make the pr by today surely

[2020-12-14 14:28] subhangi2731 commented on #239
please reassign me

[2020-12-14 14:28] adityabisoi commented on #239
@subhangi2731 Careful of your words in GitHub. Complete the issue by tonight since it is highly important for the project right now.

[2020-12-14 14:30] subhangi2731 commented on #239
so u should just tell me to complete it  by today i will complete it why did u unassign me

[2020-12-14 14:31] adityabisoi commented on #239
@subhangi2731 I gave you the call 2 days ago too. This issue structures the README. Do complete it by tonight. This will be a valuable contribution.

[2020-12-14 14:31] subhangi2731 commented on #239
u should be careful with what u are doing without asking or telling me how can u unassign me. others also have not completed the issues u just tell them to complete or give them the deadline then why did u only unassign me

[2020-12-14 14:33] subhangi2731 commented on #239
no u didnt gave me the call on this u have given the call to others too and they haven;t completed it yet but u didnt unassign them why only me u unassigned what problem u have with me

[2020-12-14 14:34] subhangi2731 commented on #239
here please dont do partiality

[2020-12-14 14:34] subhangi2731 commented on #239
many others have also not completed their issues since many days u are not unassigning them

[2020-12-14 14:35] subhangi2731 commented on #239
U are a mentor u should be equal with everyone why only me u unassigned

[2020-12-14 14:38] subhangi2731 commented on #239
Its been only 4 days many have not completed their issues since 1 week u are not unassigning them..U should see everyone's naa why only me

[2020-12-14 14:39] #40 closed

[2020-12-14 14:40] subhangi2731 commented on #239
I have told the truth only please look out to others too instead of targeting only me

[2020-12-14 14:42] #46 closed

[2020-12-14 14:43] adityabisoi commented on #59
@Vrindagupta6828 Unassigning due to inactivity

[2020-12-14 14:44] adityabisoi commented on #59
This program is open for JAVA

[2020-12-14 14:45] #68 closed

[2020-12-14 14:45] chirag-ghosh commented on #241
Sure.

[2020-12-14 14:45] subhangi2731 commented on #236
U have given the call here also 2 days ago did u unassigned her why only me and this issues was opened with my issue only..just please stop being so partial @adityabisoi

[2020-12-14 14:47] adityabisoi commented on #88
This issue is open for JAVA

[2020-12-14 14:49] adityabisoi commented on #125
This issue is open for JAVA and Python

[2020-12-14 14:49] subhangi2731 commented on #251
I have made it already with a proper folder and u only told the pr will be updated automatically by pushing

[2020-12-14 14:51] adityabisoi commented on #236
@Tanvie Unassigning due to inactivity. This issue is open.

[2020-12-14 14:53] adityabisoi commented on #236
@subhangi2731 It takes time to comment on issues. No body is partial here, this is an open-source event. No hard feelings. The aim is to complete tasks within time-frames, just like in GSoC. I know what I am doing.

[2020-12-14 14:54] subhangi2731 commented on #236
Why only after I told u uanassigned her u didnot unassign her 30 min before when u unassigned only me not anyone else..I know u have just unassigned her after i told the bitter truth

[2020-12-14 14:54] subhangi2731 commented on #236
Does it take 30 mins time ? @adityabisoi to unassign anyone of same date issues

[2020-12-14 14:55] adityabisoi commented on #236
Yeah, I am closing issues from the beginning. Take a look.

[2020-12-14 14:56] subhangi2731 commented on #236
Please dont hide ur mistake by telling lies @adityabisoi

[2020-12-14 14:57] subhangi2731 commented on #236
U have only targeted me here

[2020-12-14 14:57] adityabisoi commented on #235
@avinash14022002 Please correct the PR by tonight.

[2020-12-14 14:58] adityabisoi commented on #238
@subhangi2731 Final call.

[2020-12-14 14:59] adityabisoi commented on #251
@subhangi2731 See [this](https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/configuring-issue-templates-for-your-repository) article for correct folder path

[2020-12-14 14:59] #224 closed

[2020-12-14 15:02] #204 closed

[2020-12-14 15:02] #195 closed

[2020-12-14 15:03] #190 closed

[2020-12-14 15:04] satyam20-sys commented on #88
I can do this in Java.

[2020-12-14 15:06] adityabisoi commented on #189
@vikhyatsingh123 Please correct your PR. This issue is open for JAVA

[2020-12-14 15:09] adityabisoi commented on #188
@vikhyatsingh123 Please update your PR. This program is open for JAVA

[2020-12-14 15:12] adityabisoi commented on #164
@D3xter1922 @suhas142 Are you guys on it?

[2020-12-14 15:12] #163 closed

[2020-12-14 15:13] adityabisoi commented on #147
@anirbansaha782 Unassigning due to inactivity

[2020-12-14 15:13] adityabisoi commented on #147
This issue is open for JAVA

[2020-12-14 15:13] #134 closed

[2020-12-14 15:44] #368 closed

[2020-12-14 15:57] Vrindagupta6828 commented on #59
@adityabisoi I am soo sorry for the late pr actually was a quite busy in my exams. Please review it

[2020-12-14 16:47] dollyjain51099 commented on #125
I am working on this issue #125 for java implementation.

[2020-12-14 16:58] chirag-ghosh commented on #238
@adityabisoi I can do this if you want

[2020-12-14 17:03] #297 closed

[2020-12-14 17:07] #304 closed

[2020-12-14 17:12] #59 closed

[2020-12-14 17:38] abhay313 opened #399 "Algorithims-medium-2"
Solve [Fair Cut](https://www.hackerrank.com/challenges/fair-cut/problem) and [Prime XOR](https://www.hackerrank.com/challenges/prime-xor/problem)

[2020-12-14 17:38] abhay313 commented on #399
I want to do it in C++

[2020-12-14 18:07] vikasahlawat228 commented on #399
I will do it in java

[2020-12-14 19:45] satyampandeygit commented on #399
I can do one of these in C++

[2020-12-14 19:52] vikhyatsingh123 commented on #187
@adityabisoi I created PR for java. Please check it

[2020-12-14 20:05] vikhyatsingh123 commented on #189
OK, I added code in java. PR #337

[2020-12-14 20:20] vikhyatsingh123 commented on #339
@subhangi2731 Check code in cpp. PR #405

[2020-12-14 20:21] vikhyatsingh123 commented on #340
I completed all my previous task. Please Assign me this one.

[2020-12-15 01:00] uddeshyatyagi commented on #399
can i do 'Fair cut' problem in python?

[2020-12-15 02:13] #241 closed

[2020-12-15 14:25] #386 closed

[2020-12-15 14:30] #127 closed

[2020-12-15 14:42] #366 closed

[2020-12-15 15:24] manishaag7 opened #414 "Candies"
Problem Link :- https://www.hackerrank.com/challenges/candies/problem
Level- Medium.

I want to solve it in cpp.

[2020-12-15 15:29] #189 closed

[2020-12-15 15:37] #187 closed

[2020-12-15 15:39] #210 closed

[2020-12-15 15:47] Dhruv-Rathi commented on #414
I can try this in java please assign it to me .

[2020-12-15 15:58] manishaag7 opened #416 "Mark and Toys"
Problem Link :-   https://www.hackerrank.com/challenges/mark-and-toys/problem
Level - Easy.

I want to do it in cpp.

[2020-12-15 16:01] Dineshhardasani commented on #416
I want to solve it in Python

[2020-12-15 16:08] Nivedita967 commented on #416
I can work in Java.

[2020-12-15 16:36] yashasvimisra2798 commented on #414
I'll do it in python

[2020-12-15 16:45] satyampandeygit opened #418 "Compare the Triplets"
Problem: https://www.hackerrank.com/challenges/compare-the-triplets/problem
Level: Easy
Section: Algorithm

[2020-12-15 16:46] satyampandeygit commented on #418
I want to do it in C++, kindly assign me

[2020-12-15 17:08] anushkasinghal11 commented on #418
assign me for java

[2020-12-15 17:22] Devansh252 commented on #418
I can do this in Python ! Kindly assign me.

[2020-12-15 17:26] subhangi2731 commented on #418
sure @satyampandeygit go for it

[2020-12-15 17:27] subhangi2731 commented on #418
sure @anushkasinghal11 go for it in java

[2020-12-15 17:27] subhangi2731 commented on #418
sure @Devansh252 go for it

[2020-12-15 17:32] subhangi2731 commented on #414
sure @yashasvimisra2798 go for it in python

[2020-12-15 19:30] Dhruv-Rathi commented on #414
Please merge my code.

[2020-12-15 21:00] LazyCoder-1506 commented on #418
if @Devansh252 is busy i can do it for python right now

[2020-12-15 21:10] LazyCoder-1506 commented on #301
i see that the java solution is not yet done... i want to do it

[2020-12-15 21:50] LazyCoder-1506 opened #428 "Marc's Cakewalk Python"
There is no python solution for Marc's Cakewalk (Algorithms)

I want to do it. Please assign it to me

[2020-12-15 21:59] LazyCoder-1506 opened #429 "Number line jumps (Algorithm) JAVA"
Solution not present for Java.

I want to do this. Please assign it to me

[2020-12-16 02:15] chirag-ghosh commented on #236
Is this issue open ?

[2020-12-16 03:38] abhay313 opened #431 "Algorithm-Easy-5"
Solve [Utopian Tree](https://www.hackerrank.com/challenges/utopian-tree/problem), [Sequence Equation](https://www.hackerrank.com/challenges/permutation-equation/problem) and [Find Digits](https://www.hackerrank.com/challenges/find-digits/problem)

[2020-12-16 03:39] abhay313 commented on #431
I want to do it in C++.

[2020-12-16 03:41] adityabisoi commented on #301
@krishmurarka Are you on it?

[2020-12-16 03:42] adityabisoi commented on #239
@subhangi2731 Please make a PR by tonight.

[2020-12-16 03:42] adityabisoi commented on #238
@subhangi2731 Please make a PR by tonight.

[2020-12-16 03:42] adityabisoi commented on #236
@chirag828049 Please make a PR by tonight.

[2020-12-16 03:43] adityabisoi commented on #235
@avinash14022002 Please correct PR by tonight.

[2020-12-16 03:44] adityabisoi commented on #234
@GunjanDhanuka Please make a PR by tonight.

[2020-12-16 03:56] Rishika6 commented on #431
I can implement in java

[2020-12-16 04:03] mustang519 commented on #431
I would like to implement in Python.

[2020-12-16 06:27] lopeselio opened #433 "Remove Nth Node From End of List"
Link: https://leetcode.com/problems/remove-nth-node-from-end-of-list/
Difficulty: Medium

[2020-12-16 06:28] satyampandeygit commented on #371
Can I do this in C++?

[2020-12-16 06:34] lopeselio opened #434 "Organizing Containers of Balls - Easy"
C++ and Python missing

[2020-12-16 06:42] adityabisoi commented on #433
Mention language

[2020-12-16 06:43] adityabisoi commented on #434
You want to take this up?

[2020-12-16 06:59] krishmurarka commented on #301
YES

[2020-12-16 07:17] lopeselio commented on #434
surely

[2020-12-16 09:53] Nivedita967 opened #437 "Queue using Two Stacks"
Solution is missing for Java.
Please assign this to me.

[2020-12-16 09:55] Aarushi11H commented on #437
Hey, pls assign me this for cpp

[2020-12-16 09:57] Aarushi11H commented on #433
I ll do this for cpp or Python

[2020-12-16 09:59] Nivedita967 commented on #437
@Aarushi11H  cpp is already done.

[2020-12-16 10:00] Aarushi11H commented on #437
If python's not done, give it to me for this language

[2020-12-16 10:01] Aarushi11H commented on #437
Oh, it's only missing for Java, cool!

[2020-12-16 10:42] jaisaikr commented on #434
Hey, can I work on C++

[2020-12-16 12:23] im-krishna commented on #433
hey, I will do this in java please assign

[2020-12-16 13:47] abhay313 opened #441 "Algorithm-Easy-6"
Solve [Taum and B'day](https://www.hackerrank.com/challenges/taum-and-bday/problem) and [Modified Kaprekar Numbers](https://www.hackerrank.com/challenges/kaprekar-numbers/problem)

[2020-12-16 13:47] abhay313 commented on #441
I want to do it in C++

[2020-12-16 14:13] #339 closed

[2020-12-16 14:16] adityabisoi commented on #434
@lopeselio Python @jaisai6 C++

[2020-12-16 14:18] adityabisoi commented on #433
@lopeselio C++ @Aarushi11H Python

[2020-12-16 14:22] Sakshay-gupta commented on #441
I want to do it in python

[2020-12-16 15:33] anushkasinghal11 commented on #441
Assign me for Java

[2020-12-16 16:05] Pranav016 opened #448 "Adding program for Swapping two Linked list nodes using python."
I would like add program for swapping of two linked list nodes in python.

I would like to work on this under **KWoC**.

[2020-12-16 16:15] lopeselio commented on #433
Yes surely @adityabisoi  C++

[2020-12-16 17:34] adityabisoi commented on #448
Mention problem link

[2020-12-16 17:34] #416 closed

[2020-12-16 17:38] adityabisoi commented on #433
Hey, I had not noticed, the problem is from `Leetcode`. Currently the project aims to solve all problems from `Hackerrank` only. Closing the issue.

[2020-12-16 17:38] #433 closed

[2020-12-16 17:40] j-tesla commented on #246
I am solving in python

[2020-12-16 17:50] #418 closed

[2020-12-16 17:50] shobhit2020 opened #451 "Sparse Arrays"
Please tell if I can provide the solution for this problem, if it's useful and not before?
Thank you

[2020-12-16 17:52] adityabisoi commented on #451
See the README. The problem is already done

[2020-12-16 17:52] #451 closed

[2020-12-16 17:54] shobhit2020 commented on #451
Okay, I'll see the readme first and then try another.
Thank you

On Wed, 16 Dec 2020 at 23:22, Aditya Bisoi <notifications@github.com> wrote:

[2020-12-16 17:56] lopeselio commented on #433
No problem. I will contribute to the problems from Hackerrank.

[2020-12-16 18:10] shash-2468 opened #452 "Contest Problems ->(Viral advertising)"
solution for C++ is missing!!
please assign this to me

[2020-12-16 19:09] lopeselio commented on #434
@adityabisoi Hey aditya, I have created a PR to the issue assigned.

[2020-12-17 02:17] lopeselio opened #456 "Largest Rectangle using Stacks CPP and JAVA"
Problem Link: https://www.hackerrank.com/challenges/largest-rectangle/problem

I can solve the problem in C++ and Java. Can I take it up?

[2020-12-17 02:21] lopeselio opened #457 "Encrytion - Medium"
Problem Link: https://www.hackerrank.com/challenges/encryption/problem

To be solved in Java. Can I take this up ?

[2020-12-17 02:42] adityabisoi commented on #457
Only open in JAVA

[2020-12-17 02:43] adityabisoi commented on #456
Only available in C++. Please see the README table.

[2020-12-17 02:44] lopeselio commented on #456
Yes

[2020-12-17 02:46] adityabisoi commented on #452
Mention problem link

[2020-12-17 03:01] abhay313 opened #459 "Algorithm-medium-3"
Solve [The Power Sum](https://www.hackerrank.com/challenges/the-power-sum/problem) and [Crossword Puzzle](https://www.hackerrank.com/challenges/crossword-puzzle/problem)

[2020-12-17 03:02] abhay313 commented on #459
I want to do it in C++

[2020-12-17 03:21] shash-suroju commented on #452
https://www.hackerrank.com/challenges/strange-advertising/problem

[2020-12-17 04:55] im-krishna commented on #459
i will do this in java please assign @adityabisoi

[2020-12-17 07:15] Sakshay-gupta commented on #456
By Mistake I created a pull request with wrong issue number Please ignore this

[2020-12-17 07:45] adityabisoi commented on #441
Open for JAVA

[2020-12-17 07:47] #452 closed

[2020-12-17 07:53] anushkasinghal11 commented on #441
Assign me for JAVA

[2020-12-17 08:05] jaingaurav1601 commented on #459
please accept my pull request

[2020-12-17 08:31] shash-suroju commented on #414
I will solve this in cpp

[2020-12-17 08:46] shash-suroju commented on #365
I will solve this in C++
please assign this to me.

[2020-12-17 08:56] adityabisoi commented on #365
@shash-2468 Go ahead

[2020-12-17 09:22] #307 closed

[2020-12-17 09:23] #431 closed

[2020-12-17 10:21] jaingaurav1601 commented on #459
can you assign me this issue?

[2020-12-17 10:41] Nivedita967 commented on #459
You can work on Python only because C++ and Java are already taken.

[2020-12-17 12:25] #437 closed

[2020-12-17 12:26] #428 closed

[2020-12-17 12:26] #429 closed

[2020-12-17 14:16] sai-vamshi-18 opened #472 "Contest Problems - Viral Advertising"
I have written the code for it in cpp but the folder location is doubtful.In readme it is placed under contest problems folder but they added the solution in algorithms folder,should i do the same?

[2020-12-17 14:25] adityabisoi commented on #472
@sai-vamshi-18 Please change the location in README to Algorithms and file path of the solutions available into `Algorithms/Implementation`

[2020-12-17 14:27] jaingaurav1601 commented on #459
one of my code is python only

[2020-12-17 15:30] Nivedita967 commented on #459
@jaingaurav1601 python. Create pull request for python only.

[2020-12-17 15:45] #399 closed

[2020-12-17 16:30] shash-suroju commented on #125
I will do this in python
please assign this to me

[2020-12-17 17:29] adityabisoi commented on #125
@shash-2468 GO ahead

[2020-12-17 17:51] abhay313 opened #478 "Algorithm-Easy-7"
Solve [Closest Number](https://www.hackerrank.com/challenges/closest-numbers/problem) and [CamelCase](https://www.hackerrank.com/challenges/camelcase/problem)

[2020-12-17 17:51] abhay313 commented on #478
I want to do it in C++

[2020-12-17 18:03] LazyCoder-1506 commented on #301
can I try this?

[2020-12-17 19:05] mustang519 commented on #478
I would like to solve in JAVA.

[2020-12-18 02:35] adityabisoi commented on #301
@krishmurarka It has been 6 days, complete it by tonight.

[2020-12-18 03:37] Ansh-Sarkar commented on #478
May I do it in Python and C ?

[2020-12-18 04:16] #363 closed

[2020-12-18 04:17] #338 closed

[2020-12-18 04:22] adityabisoi commented on #478
@Ansh-Sarkar Python

[2020-12-18 04:32] abhay313 opened #481 "Algorithm-Implementation (Easy)"
Solve [Repeated String](https://www.hackerrank.com/challenges/repeated-string/problem) and [Jumping on the Clouds](https://www.hackerrank.com/challenges/jumping-on-the-clouds/problem)

[2020-12-18 04:33] abhay313 commented on #481
I want to do it in C++

[2020-12-18 04:41] im-krishna commented on #481
i will complete in java please assign @adityabisoi

[2020-12-18 05:08] yashasvimisra2798 commented on #481
I'll do it in python

[2020-12-18 05:27] adityabisoi commented on #44
Open for C++

[2020-12-18 05:28] #88 closed

[2020-12-18 05:34] #234 closed

[2020-12-18 05:40] Ansh-Sarkar commented on #478
Thank you

[2020-12-18 05:48] anushkasinghal11 commented on #44
I want to work on this in C++

[2020-12-18 06:11] Nivedita967 opened #482 "Tree - Huffman Decoding"
Solution is missing for the topic "Tree - Huffman Decoding" in Java. I want to add solution in Java.

[2020-12-18 06:15] Nivedita967 commented on #441
I want to do this in Java.

[2020-12-18 07:13] Ansh-Sarkar commented on #478
@adityabisoi thank you for the opportunity. Have added the required codes. Pls review my PR #484

[2020-12-18 07:27] Aarushi11H commented on #147
I'll do it for JAVA

[2020-12-18 07:35] Aarushi11H opened #485 "Balanced Forest"
Solution Missing for CPP. I'd take it up

[2020-12-18 07:37] Aarushi11H opened #486 "Castle On the Grid"
JAVA solution isn't there. I'd like to do it

[2020-12-18 07:39] Aarushi11H commented on #340
Hey this problem had been added in both Queues and Heaps grid in the Readme.md file. It must be added to the Queues folder as its a queue problem (even acc to hackerrank)

[2020-12-18 07:43] Aarushi11H opened #487 "Kundu and Tree"
JAVA solution isn't done. I can do it.

[2020-12-18 07:48] Siddhant-K-code commented on #239
I will do this,  @adityabisoi please assign

[2020-12-18 08:29] im-krishna commented on #459
please accept my pull request @adityabisoi

[2020-12-18 08:31] satyampandeygit opened #490 "Beautiful Days at the movies"
Problem: https://www.hackerrank.com/challenges/beautiful-days-at-the-movies/problem
Level: Easy

Assign me this in C++

[2020-12-18 08:51] LazyCoder-1506 commented on #164
I can do it in python or java

[2020-12-18 09:11] LazyCoder-1506 opened #491 "Sansa and XOR (algorithm) python"
Problem : https://www.hackerrank.com/challenges/sansa-and-xor/problem
Category : Algorithms
Difficulty : Medium

Solution language : Python

I will do it. Please assign to me

[2020-12-18 09:30] adityabisoi commented on #164
@LazyCoder-1506 Go ahead for python and JAVA both

[2020-12-18 09:36] preyam2002 commented on #44
I have already solved it and you have already merged it in C++

[2020-12-18 09:42] adityabisoi commented on #44
@preyam2002 Did you add links in README? I don't see them on the table, hence the confusion

[2020-12-18 09:42] adityabisoi commented on #44
@anushkasinghal11 Would you mind adding the links instead?

[2020-12-18 09:44] #188 closed

[2020-12-18 09:47] anushkasinghal11 commented on #44
@adityabisoi sure, I'll do that

[2020-12-18 09:49] anushkasinghal11 commented on #491
Can I take this up in cpp?

[2020-12-18 09:49] LazyCoder-1506 commented on #164
sure

[2020-12-18 09:50] LazyCoder-1506 commented on #491
cpp and java are already done

[2020-12-18 10:03] stormfireuttam commented on #485
Can I work on it in Java.

[2020-12-18 10:03] stormfireuttam commented on #490
I can provide the solution in java

[2020-12-18 10:30] prashant-3108 opened #496 "Simple Text Editor and Waiter - Stacks"
Please assign this to me with CPP

[2020-12-18 10:57] Aarushi11H commented on #485
@stormfireuttam it is present for Java. Only cpp solution isn't there

[2020-12-18 11:42] adityabisoi commented on #340
@Aarushi11H Please fix this issue.

[2020-12-18 11:43] adityabisoi commented on #487
@Aarushi11H Please complete others first

[2020-12-18 11:48] #44 closed

[2020-12-18 11:50] #491 closed

[2020-12-18 11:50] Siddhant-K-code commented on #239
@adityabisoi pls check #495

[2020-12-18 11:54] #472 closed

[2020-12-18 11:57] adityabisoi commented on #496
@prashant-3108 These are already done. README had not been updated, which is now.

[2020-12-18 11:57] #496 closed

[2020-12-18 12:07] Ansh-Sarkar commented on #490
would like to solve it in python

[2020-12-18 12:07] Ansh-Sarkar commented on #490
@adityabisoi pls assign me for this issue.

[2020-12-18 13:09] abhay313 opened #498 "Algorithm Implementation-2 (Easy)"
Solve [The Hurdle Race](https://www.hackerrank.com/challenges/the-hurdle-race/problem) and [Designer PDF Viewer](https://www.hackerrank.com/challenges/designer-pdf-viewer/problem)

[2020-12-18 13:09] abhay313 commented on #498
I want to do it in C++

[2020-12-18 13:32] Sakshay-gupta commented on #498
assign me for python

[2020-12-18 14:43] im-krishna commented on #498
i will do this in java please assign @adityabisoi

[2020-12-18 14:47] Rahul20192060 opened #501 "Taum and B'day"
There is no java solution. I want to give the java solution.

[2020-12-18 15:02] Nivedita967 commented on #501
Hey, I have been assigned this problem and I am already working on this.

[2020-12-18 15:09] #482 closed

[2020-12-18 15:10] #501 closed

[2020-12-18 15:11] #164 closed

[2020-12-18 15:43] #486 closed

[2020-12-18 15:58] jaisaikr commented on #434
@adityabisoi Hey, one more thing the link to the python solution has not been added to the README file.
![image](https://user-images.githubusercontent.com/60820625/102634550-feff7400-4177-11eb-875e-197ce8acd3a1.png)

[2020-12-18 16:00] jaisai6 opened #506 "DP(medium)"
[Knapsack](https://www.hackerrank.com/challenges/unbounded-knapsack/problem)
[Fibonacci Modified](https://www.hackerrank.com/challenges/fibonacci-modified/problem)
[Prime XOR](https://www.hackerrank.com/challenges/prime-xor/problem)

[2020-12-18 16:00] jaisaikr commented on #506
I want to do it C++.

[2020-12-18 16:05] anushkasinghal11 commented on #506
I want to do this in JAVA

[2020-12-18 16:07] anushkasinghal11 commented on #506
Prime XOR is already implemented!

[2020-12-18 16:10] jaisaikr commented on #506
@anushkasinghal11 Yeah, sorry I missed it.

[2020-12-18 16:20] adityabisoi commented on #434
@jaisai6 Thanks for pointing that out!

[2020-12-18 16:20] #434 closed

[2020-12-18 17:28] Aarushi11H commented on #147
the JAVA solution is already there, done by someone already. you may unassign me and close this issue

[2020-12-18 18:17] Devansh252 commented on #506
I want to do it Python !

[2020-12-18 18:27] Nivedita967 opened #511 "Down to Zero II"
Solution is missing in Java. Can I do this?

[2020-12-18 18:34] #147 closed

[2020-12-18 18:35] chirag-ghosh commented on #235
@adityabisoi I can do this

[2020-12-18 18:43] LazyCoder-1506 commented on #301
Can i take over @adityabisoi ?

[2020-12-18 21:32] driti924 opened #512 "The Bomberman Game"
Problem link: https://www.hackerrank.com/challenges/bomber-man/problem
Difficulty: Medium

I want to solve this problem in C++.
Please assign me the problem.

[2020-12-19 03:14] #478 closed

[2020-12-19 03:17] #441 closed

[2020-12-19 07:14] Aarushi11H commented on #512
i'll do it in python

[2020-12-19 07:15] Aarushi11H commented on #487
completed, can i do it now?

[2020-12-19 08:31] #485 closed

[2020-12-19 11:59] abhay313 opened #518 "Algorithm Greedy (Easy)"
Solve [Jim and the Orders](https://www.hackerrank.com/challenges/jim-and-the-orders/problem) and [Largest Permutation](https://www.hackerrank.com/challenges/largest-permutation/problem)

[2020-12-19 12:00] abhay313 commented on #518
I want to do it in C++

[2020-12-19 12:05] #125 closed

[2020-12-19 12:27] Aarushi11H commented on #518
i'll do em in Python

[2020-12-19 12:34] anushkasinghal11 commented on #518
Assign me for Java

[2020-12-19 12:53] #301 closed

[2020-12-19 13:24] anushkasinghal11 commented on #512
I want to do this in JAVA

[2020-12-19 15:20] #511 closed

[2020-12-19 16:15] ghost commented on #518
Assign me

[2020-12-19 16:16] ghost commented on #512
I'll do it in python

[2020-12-19 17:30] abhay313 opened #525 "Algorithm Sorting (Easy)"
Solve [Correctness and the Loop Invariant](https://www.hackerrank.com/challenges/correctness-invariant/problem) and [Running Time of Algorithms](https://www.hackerrank.com/challenges/runningtime/problem)

[2020-12-19 17:31] abhay313 commented on #525
I want to do it in C++

[2020-12-19 17:38] chirag-ghosh commented on #235
PR Done. Kindly review.

[2020-12-19 17:41] chirag-ghosh commented on #236
@adityabisoi Isn't this issue solved ?

[2020-12-20 01:45] #235 closed

[2020-12-20 01:46] #236 closed

[2020-12-20 01:50] #158 closed

[2020-12-20 03:56] yashasvimisra2798 commented on #525
I'll do it in python

[2020-12-20 04:23] Ansh-Sarkar commented on #490
@adityabisoi sorry for the delay. Have uploaded the code as well as updated the Readme file. Pls review my PR #528

[2020-12-20 05:27] abhay313 opened #530 "Algorithm Search (Easy)"
Solve [Ice Cream Parlor](https://www.hackerrank.com/challenges/icecream-parlor/problem), [Missing Numbers](https://www.hackerrank.com/challenges/missing-numbers/problem) and [Sherlock and Array](https://www.hackerrank.com/challenges/sherlock-and-array/problem)

[2020-12-20 05:27] abhay313 commented on #530
I want to do it in C++

[2020-12-20 05:29] yashasvimisra2798 commented on #530
I can do it in Python

[2020-12-20 10:52] driti924 commented on #512
I am done with the folder correction think. I was thinking of making a fresh pull request. Please assign me again.

[2020-12-20 11:05] driti924 commented on #512
I have made a new pull request, hope everything is correct this time.
@adityabisoi please review.
Sorry for the delay.

[2020-12-20 11:53] Aarushi11H commented on #530
can i take em in JAVA?

[2020-12-20 12:14] satyampandeygit commented on #525
I want to do these in JAVA

[2020-12-20 12:49] #490 closed

[2020-12-20 13:37] abhay313 opened #538 "Algorithm Strings (Easy)"
Solve [Gemstones](https://www.hackerrank.com/challenges/gem-stones/problem). [HackerRank in a String!](https://www.hackerrank.com/challenges/hackerrank-in-a-string/problem), [Pangrams](https://www.hackerrank.com/challenges/pangrams/problem) and [Funny String](https://www.hackerrank.com/challenges/funny-string/problem)

[2020-12-20 13:37] abhay313 commented on #538
I want to do it in C++

[2020-12-20 15:17] #518 closed

[2020-12-20 15:31] #506 closed

[2020-12-20 16:08] satyampandeygit commented on #538
I want to do these in JAVA

[2020-12-20 16:36] satyampandeygit commented on #525
@adityabisoi kindly review the PR #540

[2020-12-20 17:21] anushkasinghal11 commented on #538
Can I take this up in python?

[2020-12-20 17:37] #512 closed

[2020-12-21 08:19] abhay313 opened #545 "Update Readme file"
**Sum vs Xor**, **Flippings Bits** and **Maximizing XOR** should be in `Algorithm/Bit Manipulation` currently in `Algorithms`

[2020-12-21 08:22] abhay313 commented on #545
Please assign this to me

[2020-12-21 08:27] abhay313 opened #546 "Algorithms Strings-2 (Easy)"
Solve [Beautiful Binary String](https://www.hackerrank.com/challenges/beautiful-binary-string/problem), [The Love-Letter Mystery](https://www.hackerrank.com/challenges/the-love-letter-mystery/problem) and [Making Anagrams](https://www.hackerrank.com/challenges/making-anagrams/problem)

[2020-12-21 08:27] abhay313 commented on #546
I can do this in C++

[2020-12-21 08:40] Ansh-Sarkar commented on #546
I can do this in Python @adityabisoi .Please assign me this issue

[2020-12-21 09:42] Nivedita967 commented on #546
I want to do this in Java.

[2020-12-21 09:43] Nivedita967 commented on #239
Hey, I want to solve this issue.

[2020-12-21 10:29] yashasvimisra2798 opened #550 "Trie (Medium)"
Problem link: https://www.hackerrank.com/challenges/contacts/problem

[2020-12-21 10:29] yashasvimisra2798 commented on #550
I want to do it in c++

[2020-12-21 10:30] yashasvimisra2798 opened #551 "Trie (Hard)"
Problem link: https://www.hackerrank.com/challenges/no-prefix-set/problem

[2020-12-21 10:30] yashasvimisra2798 commented on #551
I want to do it in C++

[2020-12-21 11:09] satyampandeygit opened #553 "Algorithms"
[String Construction](https://www.hackerrank.com/challenges/string-construction/problem) [Lily's Homework](https://www.hackerrank.com/challenges/lilys-homework/problem) [Highest Value Palindrome](https://www.hackerrank.com/challenges/richie-rich/problem)

Level: Easy Medium respectively

[2020-12-21 11:09] satyampandeygit commented on #553
Assign me these in C++

[2020-12-21 11:16] yashasvimisra2798 commented on #553
I can do it in python

[2020-12-21 12:01] Aarushi11H commented on #553
I'll take em for java

[2020-12-21 12:05] LazyCoder-1506 commented on #538
@abhay313 why are you including multiple problems in a single issue?? make one issue for each problem, then more people can contribute

[2020-12-21 12:41] #545 closed

[2020-12-21 12:44] #525 closed

[2020-12-21 12:44] #530 closed

[2020-12-21 12:55] #487 closed

[2020-12-21 14:08] #538 closed

[2020-12-21 14:21] abhay313 commented on #538
Raising single PR for multiple basic questions should be fine, and if people find difficulty in that then can mention in conversation that **I want to do X problem in Y language** or you can create new issue for your single question.

[2020-12-21 16:21] adityabisoi commented on #251
This issue is open.

[2020-12-21 16:23] dollyjain51099 commented on #246
I have implemented the Luck Balance algorithm using Java, also created a PR for the same, kindly review my code and merge it.

[2020-12-21 16:37] #246 closed

[2020-12-21 18:44] ghost commented on #550
I want to do it in python

[2020-12-22 02:25] chirag-ghosh commented on #238
Can I do this @adityabisoi  ?

[2020-12-22 02:58] adityabisoi commented on #457
@lopeselio Are you on this issue?

[2020-12-22 03:52] abhay313 opened #560 "Algorithms Sorting-2 (Easy)"
Solve [Insertion Sort - Part 2](https://www.hackerrank.com/challenges/insertionsort2/problem) and [Counting Sort 2](https://www.hackerrank.com/challenges/countingsort2/problem)

[2020-12-22 03:52] abhay313 commented on #560
I want to do it in C++

[2020-12-22 04:10] yashasvimisra2798 commented on #560
I can do it in Python

[2020-12-22 04:43] anushkasinghal11 commented on #560
Can I take this up in Java?

[2020-12-22 05:55] lopeselio commented on #457
Yes

[2020-12-22 07:27] #239 closed

[2020-12-22 07:31] Nivedita967 commented on #251
Hey, I can fix this issue.

[2020-12-22 07:58] lopeselio commented on #457
pull request initiated. Thank you! @adityabisoi

On Tue, Dec 22, 2020 at 8:28 AM Aditya Bisoi <notifications@github.com>
wrote:

[2020-12-22 12:26] Aarushi11H commented on #550
I can do it in Java

[2020-12-22 12:56] Aarushi11H commented on #258
Can I do this in python?

[2020-12-22 13:37] prashant-3108 opened #568 "Algorithms - Recursion"
1.) Power Sum - Medium - Python
2.) Crossword Puzzle - Python

Please assign these to me.

[2020-12-22 13:58] yashasvimisra2798 commented on #568
Can I do these in C++ ?

[2020-12-22 14:23] Aarushi11H commented on #568
@yashasvimisra2798 These problems are just missing for Python, C++ and java has been done already

[2020-12-22 14:33] yashasvimisra2798 commented on #568
Thanks @Aarushi11H for informing :)

[2020-12-22 14:43] #457 closed

[2020-12-22 15:55] yashasvimisra2798 commented on #551
Shall I provide the solution in Python as well?

[2020-12-22 16:00] yashasvimisra2798 opened #569 "Kundu and Tree C++ solution"
Problem link: https://www.hackerrank.com/challenges/kundu-and-tree/problem

[2020-12-22 16:00] yashasvimisra2798 commented on #569
Please assign this issue to me

[2020-12-22 16:19] abhay313 opened #572 "Algorithms Greedy-2 (Easy)"
Solve [Sherlock and The Beast](https://www.hackerrank.com/challenges/sherlock-and-the-beast/problem) and [Permuting Two Arrays](https://www.hackerrank.com/challenges/two-arrays/problem)

[2020-12-22 16:20] abhay313 commented on #572
I want to do it in C++

[2020-12-22 16:24] satyampandeygit opened #573 "Caesar Cipher"
Problem: https://www.hackerrank.com/challenges/caesar-cipher-1/problem
Level: easy

[2020-12-22 16:25] satyampandeygit commented on #573
I want to do this in C++ and JAVA

[2020-12-22 16:25] satyampandeygit commented on #572
Assign me these in JAVA

[2020-12-22 16:55] #553 closed

[2020-12-22 17:23] yashasvimisra2798 commented on #573
I can do it in Python

[2020-12-23 01:15] yashasvimisra2798 commented on #572
I can do it in Python

[2020-12-23 03:40] abhay313 opened #578 "Algorithm Bit Manipulation (Medium)"
Solve [AND Product](https://www.hackerrank.com/challenges/and-product/problem)

[2020-12-23 03:40] abhay313 commented on #578
I want to do it in C++

[2020-12-23 04:31] Aarushi11H commented on #578
i want to do it in python

[2020-12-23 06:45] anushkasinghal11 commented on #578
Assign me for JAVA

[2020-12-23 07:09] abhay313 opened #581 "Algorithm Implementation-3 (Easy)"
Solve [Happy Ladybugs](https://www.hackerrank.com/challenges/happy-ladybugs/problem), [Manasa and Stones](https://www.hackerrank.com/challenges/manasa-and-stones/problem) and [Cavity Map](https://www.hackerrank.com/challenges/cavity-map/problem)

[2020-12-23 07:09] abhay313 commented on #581
I want to do it in C++

[2020-12-23 07:56] anushkasinghal11 commented on #581
Assign me in Java

[2020-12-23 09:58] Nivedita967 opened #583 "Insertion Sort - Part 1"
Problem Link- https://www.hackerrank.com/challenges/insertionsort1/problem
Category- Algorithms/Sorting
I want to do it in Java.

[2020-12-23 11:41] #251 closed

[2020-12-23 11:43] adityabisoi commented on #349
@codewithvk Do you want to work on this?

[2020-12-23 11:44] codewithvk commented on #349
@adityabisoi Yes, I am happy to work!
Can you assign me?

[2020-12-23 11:57] yashasvimisra2798 commented on #581
I can do them in Python

[2020-12-23 11:58] yashasvimisra2798 commented on #583
I can provide the solution in C++ and Python

[2020-12-23 12:50] yashasvimisra2798 commented on #231
Can I work on the Python solution?

[2020-12-23 15:07] #238 closed

[2020-12-23 15:50] Ansh-Sarkar commented on #546
@adityabisoi sorry for the delay. Have added all the 3 solutions and have updated the Readme.md as well. Please review my P.R. #593

[2020-12-23 16:26] #546 closed

[2020-12-23 17:09] adityabisoi opened #594 "Beautify and enhance README"
Make the `README.md` (very) pretty.

* Add a nice `HackerRank` logo at the top.
* Add cool badges.
* Add a `Table of contents` section similar to the screenshot (with pointers to contents in this README)
![Screenshot from 2020-12-23 22-30-10](https://user-images.githubusercontent.com/42573842/103020948-6306ab80-456f-11eb-837b-0b04d4b45592.png)
* Add an `Open-Source Events` section at the bottom, w

[2020-12-23 17:30] Devansh252 commented on #583
Python ,Can I ?

[2020-12-23 18:07] yashasvimisra2798 opened #597 "Fix AND Product Link in README.md"
The AND product problem occurs twice in the readme
Please assign this issue to me.

[2020-12-24 02:27] yashasvimisra2798 commented on #340
Can I work on the cpp solution?

[2020-12-24 03:04] adityabisoi commented on #583
@Devansh252 Python is already taken

[2020-12-24 03:05] #231 closed

[2020-12-24 03:06] #578 closed

[2020-12-24 03:07] #573 closed

[2020-12-24 04:18] RhuthuHegde commented on #581
Can I work on it in C++ or python?

[2020-12-24 04:39] Aarushi11H commented on #594
Hey, I wish to take this up.

[2020-12-24 05:14] abhay313 opened #603 "Algorithm Strings-3"
Problem Link-
https://www.hackerrank.com/challenges/two-strings/problem
https://www.hackerrank.com/challenges/game-of-thrones/problem

Category- (Algorithms/Strings)

Difficulty Level- (Easy)

In Language:
- [x] C++
- [x] JAVA
- [x] Python

[2020-12-24 05:23] anushkasinghal11 commented on #603
I can do it in java

[2020-12-24 05:51] mustang519 commented on #603
I would like to contribute in C++.

[2020-12-24 07:12] #597 closed

[2020-12-24 07:40] abhay313 commented on #603
@mustang519 can you do it Python ?

[2020-12-24 08:33] mustang519 commented on #603
Sure . I'll do in python then

[2020-12-24 09:21] abhay313 opened #607 "Algorithm Greedy 3"
Problem Link-
https://www.hackerrank.com/challenges/pylons/problem
https://www.hackerrank.com/challenges/angry-children/problem

Category- (category ex: Algorithms/Greedy)

Difficulty Level- (Medium)

In Language:
- [x] C++
- [x] JAVA
- [ ] Python

[2020-12-24 09:21] abhay313 commented on #607
I want to do it in C++

[2020-12-24 09:25] yashasvimisra2798 commented on #607
I can do it in python

[2020-12-24 09:39] Nivedita967 commented on #607
I want to do this in Java.

[2020-12-24 10:55] yashasvimisra2798 opened #610 "Big Sorting"
Problem Link-https://www.hackerrank.com/challenges/big-sorting/problem
Category- Algorithms/Sorting

Difficulty Level- Easy

In Language:
- [x] C++
- [ ] JAVA
- [x] Python

[2020-12-24 10:55] yashasvimisra2798 commented on #610
I want to do it in C++

[2020-12-24 10:57] yashasvimisra2798 opened #611 "Quicksort 1 - Partition"
Problem Link-https://www.hackerrank.com/challenges/quicksort1/problem
Category- Algorithms/Sorting

Difficulty Level- Easy

In Language:
- [x] C++
- [x] JAVA
- [x] Python

[2020-12-24 10:57] yashasvimisra2798 commented on #611
I want to do it in Python

[2020-12-24 11:31] abhay313 commented on #611
I can do it in C++

[2020-12-24 12:48] #583 closed

[2020-12-24 12:52] adityabisoi commented on #607
@abhay313 @Nivedita967 @yashasvimisra2798 Keep checkboxes in issues unchecked. I will check them if a solution is provided.

[2020-12-24 12:53] #340 closed

[2020-12-24 12:53] #581 closed

[2020-12-24 13:04] Dhruv-Rathi commented on #610
I can try it in java pls assign it to me

[2020-12-24 13:11] Rishika6 commented on #611
I can implement in java

[2020-12-24 13:50] Devansh252 commented on #610
I want to do it in python

[2020-12-24 17:00] satyampandeygit opened #614 "Reverse Shuffle merge"
Problem Link- https://www.hackerrank.com/challenges/reverse-shuffle-merge/problem
Category- Algorithms/Greedy

Difficulty Level- Advanced

In Language:
- [x] C++
- [ ] JAVA
- [x] Python

[2020-12-24 17:11] yashasvimisra2798 commented on #614
May I take this up in Python?

[2020-12-24 17:22] #572 closed

[2020-12-25 02:43] Aarushi11H commented on #614
Can I Take it up for Java?

[2020-12-25 03:35] adityabisoi commented on #614
@Aarushi11H Are you doing the README issue?

[2020-12-25 03:39] Aarushi11H commented on #614
Yes, will make the PR by today

[2020-12-25 05:24] #569 closed

[2020-12-25 06:15] #611 closed

[2020-12-25 07:34] abhay313 opened #624 "Strings"
Problem Link-
Category- (Algorithms/Strings)
https://www.hackerrank.com/challenges/strong-password/problem
https://www.hackerrank.com/challenges/reduced-string/problem

Difficulty Level- (Easy)

In Language:
- [x] C++
- [x] JAVA
- [ ] Python

[2020-12-25 07:35] abhay313 commented on #624
I want to do it in C++

[2020-12-25 07:38] yashasvimisra2798 commented on #624
I'll do it in python

[2020-12-25 08:17] kritikaparmar-programmer commented on #614
I want to do this in C++.

[2020-12-25 08:55] Nivedita967 commented on #624
I want to do this in Java.

[2020-12-25 11:16] Aarushi11H commented on #594
Hey please check [this Link](https://github.com/Aarushi11H/ds-algo-solutions/blob/main/README.md) and let me know the changes if any

[2020-12-25 12:22] adityabisoi commented on #594
@Aarushi11H Great work on the issue! Just a few caveats:
* The `commit activity` badge shows `invalid`
* Add a `Contributions Welcome`  badge and three language badges.

You can absolutely make a PR after that.

[2020-12-25 16:14] abhay313 opened #632 "Implementation-4"
Problem Link-
https://www.hackerrank.com/challenges/drawing-book/problem
https://www.hackerrank.com/challenges/lisa-workbook/problem
https://www.hackerrank.com/challenges/append-and-delete/problem

Category- (Algorithms/Implementation)

Difficulty Level- (Easy)

In Language:
- [ ] C++
- [x] JAVA
- [x] Python

[2020-12-25 16:14] abhay313 commented on #632
I want to do it in C++

[2020-12-25 16:17] anushkasinghal11 commented on #632
Can I take these up in JAVA?

[2020-12-25 16:18] #603 closed

[2020-12-25 16:21] #594 closed

[2020-12-25 16:35] yashasvimisra2798 commented on #632
I can do it in Python

[2020-12-25 16:51] #607 closed

[2020-12-25 17:22] #624 closed

[2020-12-25 17:39] Nivedita967 opened #636 "Algorithms Sorting"
Problem Link-
Counting Sort-1 - https://www.hackerrank.com/challenges/countingsort1/problem
Find the Median - https://www.hackerrank.com/challenges/find-the-median/problem

Category- Algorithms/Sorting

Difficulty Level- Easy

In Language:
- [ ] C++
- [x] JAVA
- [x] Python

[2020-12-25 17:39] Nivedita967 commented on #636
I want to do this in Java.

[2020-12-25 18:24] yashasvimisra2798 commented on #636
Can i do it in python?

[2020-12-25 20:55] vikhyatsingh123 commented on #636
can i do it in cpp

[2020-12-26 06:27] #610 closed

[2020-12-26 09:33] yashasvimisra2798 commented on #341
Shall I work on the c++ solution?

[2020-12-26 11:27] satyampandeygit opened #639 "Game Theory Easy - 1"
Problem Tower Breakers- https://www.hackerrank.com/challenges/tower-breakers-1/problem
Problem Game of Stones - https://www.hackerrank.com/challenges/game-of-stones-1/problem
Problem A Chessboard Game - https://www.hackerrank.com/challenges/a-chessboard-game-1/problem
Category- Algorithms/Game Theory

Difficulty Level- All Easy

In Language:
- [ ] C++
- [x] JAVA
- [x] Python

[2020-12-26 11:27] satyampandeygit commented on #639
Assign me these in C++

[2020-12-26 11:28] adityabisoi commented on #341
@vikhyatsingh123 Do you want to do this?

[2020-12-26 11:55] vikhyatsingh123 commented on #341
Yes

[2020-12-26 12:19] yashasvimisra2798 commented on #639
I want to do it in python

[2020-12-26 12:39] anushkasinghal11 commented on #639
Can I take these up in JAVA?

[2020-12-26 13:38] khushibalyan220101 commented on #568
Please assign it to me I can do it in python.

[2020-12-26 14:29] khushibalyan220101 commented on #448
https://leetcode.com/problems/swap-nodes-in-pairs/
@adityabisoi
Can I contribute to this

[2020-12-26 14:31] Pranav016 commented on #448
Sure, go ahead

[2020-12-26 14:50] Pranav016 commented on #448
Go ahead

[2020-12-26 16:02] adityabisoi commented on #568
@khushibalyan220101 Python is already assigned, please take up different ones or create new ones

[2020-12-26 16:02] adityabisoi commented on #568
@prashant-3108 Are you working on this?

[2020-12-26 16:03] adityabisoi commented on #448
@khushibalyan220101 @Pranav016 I am afraid the repo currently supports only Hackerrank problems. Leetcode problems will be solved only after covering all of HackerRank's problems

[2020-12-26 16:03] #448 closed

[2020-12-26 16:12] #632 closed

[2020-12-26 16:18] abhay313 opened #643 "Strings-5"
Problem Link-
https://www.hackerrank.com/challenges/separate-the-numbers/problem
https://www.hackerrank.com/challenges/palindrome-index/problem

Category- (Algorithms/Strings)

Difficulty Level- (Easy)

In Language:
- [x] C++
- [ ] JAVA
- [x] Python

[2020-12-26 16:18] abhay313 commented on #643
I want to do it in C++

[2020-12-26 16:21] abhay313 opened #644 "Implementation-5"
Problem Link-
Category- (Algorithms/Implementation)
https://www.hackerrank.com/challenges/day-of-the-programmer/problem
https://www.hackerrank.com/challenges/picking-numbers/problem

Difficulty Level- (Easy)

In Language:
- [x] C++
- [x] JAVA
- [ ] Python

[2020-12-26 16:22] abhay313 commented on #644
I want to do it in C++

[2020-12-26 16:30] yashasvimisra2798 commented on #643
Can I take it up in python?

[2020-12-26 16:33] anushkasinghal11 commented on #644
Can I take these up in JAVA?

[2020-12-26 16:35] yashasvimisra2798 commented on #644
Can I take it up in Python?

[2020-12-26 17:10] khushibalyan220101 commented on #643
Please assign it to me for java

[2020-12-26 18:45] vikhyatsingh123 commented on #551
I can do it in java

[2020-12-27 17:12] abhay313 commented on #414
Can I provide it's cpp solution?

[2020-12-27 17:14] abhay313 commented on #371
Can I provide it's python solution?

[2020-12-27 17:18] abhay313 commented on #306
Can I provide it's cpp solution?

[2020-12-27 18:10] satyampandeygit commented on #258
Why is this issue open?

[2020-12-27 18:12] satyampandeygit commented on #306
This issue has all the solution

[2020-12-27 18:13] satyampandeygit commented on #341
I can do this in Java

[2020-12-27 18:16] satyampandeygit commented on #365
Solution's are there in all languages close this issue

[2020-12-27 18:20] satyampandeygit commented on #456
the solution's available in all languages close this issue

[2020-12-27 18:24] satyampandeygit commented on #481
I can do these in JAVA

[2020-12-27 18:25] satyampandeygit commented on #498
I can do these in JAVA

[2020-12-27 18:32] abhay313 opened #654 "Implementation-6"
Problem Link-
https://www.hackerrank.com/challenges/between-two-sets/problem
https://www.hackerrank.com/challenges/circular-array-rotation/problem

Category- (Algorithms/Implementation)

Difficulty Level- (Easy)

In Language:
- [ ] C++
- [x] JAVA
- [x] Python

[2020-12-27 18:32] abhay313 commented on #654
I want to do it in C++

[2020-12-27 18:47] Nivedita967 commented on #654
I want to work on this in Java.

[2020-12-27 19:31] #365 closed

[2020-12-28 01:06] adityabisoi commented on #414
@abhay313 Go ahead

[2020-12-28 01:09] #258 closed

[2020-12-28 01:09] #306 closed

[2020-12-28 01:10] #456 closed

[2020-12-28 01:12] #639 closed

[2020-12-28 08:05] yashasvimisra2798 commented on #654
Python, I can take up.

[2020-12-28 08:51] abhay313 commented on #550
Can I do it in python??

[2020-12-28 11:19] #349 closed

[2020-12-28 11:50] suhas142 opened #660 "Stacks - Difficult"
Problem Link- https://www.hackerrank.com/challenges/poisonous-plants/problem
                       https://www.hackerrank.com/challenges/and-xor-or/problem
Category- Stacks

Difficulty Level- Hard/Difficult

In Language:
- [x] C++
- [x] JAVA
- [ ] Python

[2020-12-28 11:51] suhas142 commented on #660
I have can do both of them in c++, please assign

[2020-12-28 14:24] satyampandeygit opened #661 "Implementations"
Problem Link- https://www.hackerrank.com/challenges/divisible-sum-pairs/problem
Category- Algorithms/Implementation

Difficulty Level- Easy

In Language:
- [x] C++
- [x] JAVA
- [ ] Python

[2020-12-28 14:25] satyampandeygit commented on #661
I want to do this c++ & java

[2020-12-28 14:27] suhas142 commented on #636
Can i do this in c++?

[2020-12-28 14:33] suhas142 commented on #661
I can do this in python

[2020-12-28 14:53] #414 closed

[2020-12-28 15:13] yashasvimisra2798 commented on #660
I can do it in Python

[2020-12-28 15:32] Nivedita967 commented on #661
I want to do this in Java.

[2020-12-28 15:39] abhay313 commented on #371
Please close this, issue covered in #373  python solution is merged and by mistake I used wrong reference of issue

[2020-12-28 17:02] Nivedita967 commented on #660
I want to do this in Java.

[2020-12-29 01:35] yashasvimisra2798 commented on #371
Can I do it in Python?

[2020-12-29 08:49] abhay313 opened #670 "Dynamic Programming-1"
Problem Link-
https://www.hackerrank.com/challenges/red-john-is-back/problem
https://www.hackerrank.com/challenges/stockmax/problem

Category- (Algorithms/Dynamic Programming)

Difficulty Level- (Medium)

In Language:
- [x] C++
- [x] JAVA
- [ ] Python

[2020-12-29 08:49] abhay313 commented on #670
I want to do it in C++

[2020-12-29 09:01] yashasvimisra2798 commented on #670
I'll do it in python

[2020-12-29 09:05] anushkasinghal11 commented on #670
Assign me for Java

[2020-12-29 11:20] #644 closed

[2020-12-29 11:21] #371 closed

[2020-12-29 11:25] #550 closed

[2020-12-29 11:25] #481 closed

[2020-12-29 11:26] #614 closed

[2020-12-29 11:46] #654 closed

[2020-12-29 12:37] yashasvimisra2798 commented on #459
Shall I provide the python solution?

[2020-12-29 16:50] #459 closed

[2020-12-29 16:51] yashasvimisra2798 commented on #568
#672 fixes this issue

[2020-12-29 19:44] satyampandeygit commented on #661
@Nivedita967 I have done this question in JAVA you can take another issue

[2020-12-30 03:01] #568 closed

[2020-12-30 03:07] adityabisoi commented on #661
@Nivedita967 It seems C++ and JAVA are already done. Please take up a different issue

[2020-12-30 03:08] #551 closed

[2020-12-30 07:10] chirag828049 opened #677 "The Hurdle Race"
Problem Link- https://www.hackerrank.com/challenges/the-hurdle-race/problem
Category- Algorithms/Implementation

Difficulty Level- Easy

In Language:
- [x] JAVA

[2020-12-30 07:10] yashasvimisra2798 commented on #677
I'll do it in python

[2020-12-30 07:12] chirag-ghosh commented on #677
@yashasvimisra2798  Its already solved in C++ and Python. Only JAVA was left

[2020-12-30 14:57] #341 closed

[2020-12-30 14:59] Nivedita967 commented on #636
Go ahead @suhas142

[2020-12-30 15:03] Nivedita967 opened #680 "Tree: Square-Ten Tree"
Problem Link- https://www.hackerrank.com/challenges/square-ten-tree/problem
Category- Trees
Difficulty Level- Hard

In Language:
- [ ] JAVA

[2020-12-30 15:04] Nivedita967 commented on #680
Only java solution is missing. I want to add.

[2020-12-30 15:06] yashasvimisra2798 opened #681 "Fix link of Circular Array Rotation"
The link to problem Circular array rotation occurs twice in the readme.

[2020-12-30 15:06] yashasvimisra2798 commented on #681
I would like to fix this.

[2020-12-30 15:09] Nivedita967 commented on #677
Someone is already working on this problem. Please check issue #498

[2020-12-30 15:44] #681 closed

[2020-12-30 15:48] satyampandeygit commented on #498
@Nivedita967 kindly don't work on someone else's assigned issues

[2020-12-30 15:58] satyampandeygit opened #685 "Game Theory 2"
Introduction to Nim Game Problem Link-https://www.hackerrank.com/challenges/nim-game-1/problem
Mesre Nim Problem Link - https://www.hackerrank.com/challenges/misere-nim-1/problem
Nimble Game Problem Link - https://www.hackerrank.com/challenges/nimble-game-1/problem
Category- Algorithms/Game Theory

Difficulty Level- Easy

In Language:
- [x] C++
- [x] JAVA
- [ ] Python

[2020-12-30 15:58] satyampandeygit commented on #685
I want to do these in C++

[2020-12-30 15:59] satyampandeygit commented on #677
@chirag828049 check issue #685

[2020-12-30 16:02] satyampandeygit commented on #560
This issue has all the solution you can close it

[2020-12-30 16:02] #660 closed

[2020-12-30 16:03] #560 closed

[2020-12-30 16:04] yashasvimisra2798 commented on #685
I'll do it in python

[2020-12-30 16:04] adityabisoi commented on #680
Go ahead

[2020-12-30 16:06] #661 closed

[2020-12-30 16:07] #498 closed

[2020-12-30 16:08] #677 closed

[2020-12-30 16:19] anushkasinghal11 commented on #685
Assign me for Java

[2020-12-31 17:53] abhay313 opened #690 "Strings-6"
Problem Link-
Category- (Algorithms/Strings)
https://www.hackerrank.com/challenges/two-characters/problem
https://www.hackerrank.com/challenges/weighted-uniform-string/problem

Difficulty Level- (Easy)

In Language:
- [x] C++
- [ ] JAVA
- [x] Python

[2020-12-31 17:53] abhay313 commented on #690
I want to do it in C++

[2020-12-31 18:32] yashasvimisra2798 commented on #690
Assign me for Python

[2021-01-01 02:43] #680 closed

[2021-01-01 02:44] #670 closed

[2021-01-01 06:58] Rishika6 commented on #690
Assign me for java

[2021-01-01 08:23] anushkasinghal11 commented on #643
Can I do this in Java?

[2021-01-01 12:49] adityabisoi commented on #643
@khushibalyan220101 Are you working?

[2021-01-01 15:04] satyampandeygit opened #695 "Game theory 3"
Problem Link- https://www.hackerrank.com/challenges/alice-and-bobs-silly-game/problem
Problem Link - https://www.hackerrank.com/challenges/tower-breakers-revisited-1/problem
Problem Link - https://www.hackerrank.com/challenges/poker-nim-1/problem
Category- Algorithms/Game Theory

Difficulty Level- Medium

In Language:
- [x] C++
- [ ] JAVA
- [x] Python

[2021-01-01 15:04] satyampandeygit commented on #695
Assign me these in C++

[2021-01-01 15:08] Nivedita967 commented on #695
I want to do this in Java.

[2021-01-01 16:01] yashasvimisra2798 commented on #695
I'll do it in python

[2021-01-01 20:38] kitarp29 commented on #643
I wanna contri in this @adityabisoi

[2021-01-02 01:19] #685 closed

[2021-01-02 01:20] adityabisoi commented on #643
@kitarp29 Go ahead

[2021-01-02 05:57] abhay313 opened #698 "Flatland Space Stations"
Problem Link-
https://www.hackerrank.com/challenges/flatland-space-stations/problem

Category- (Algorithms/Implementation)

Difficulty Level- (Easy)

In Language:
- [x] C++
- [x] JAVA
- [ ] Python

[2021-01-02 05:57] abhay313 commented on #698
I want to do it in C++

[2021-01-02 11:42] satyampandeygit opened #702 "Game Theory 4"
Problem Link- https://www.hackerrank.com/challenges/tower-breakers-again-1/problem
Problem Link - https://www.hackerrank.com/challenges/zero-move-nim/problem
Problem Link - https://www.hackerrank.com/challenges/chessboard-game-again-1/problem
Category- Algorithms/Game Theory

Difficulty Level- Medium

In Language:
- [x] C++
- [ ] JAVA
- [x] Python

[2021-01-02 11:43] satyampandeygit commented on #702
Assign me these in C++

[2021-01-02 11:43] satyampandeygit commented on #698
I want to do this in JAVA

[2021-01-02 12:01] yashasvimisra2798 commented on #702
I want to do it in python

[2021-01-02 16:08] #690 closed

[2021-01-02 16:12] yashasvimisra2798 commented on #698
I'll do it in python

[2021-01-02 16:56] anushkasinghal11 commented on #702
Assign me for java

[2021-01-02 17:19] keshav340 commented on #636
Can I do in c++

[2021-01-02 17:19] keshav340 commented on #702
Assign me for c++

[2021-01-02 17:22] keshav340 commented on #695
can  I do it in python

[2021-01-02 20:20] Panda6388 opened #706 "Algorithm problems"
Problem links:-
[Sherlock and Anagrams](https://www.hackerrank.com/challenges/sherlock-and-anagrams/problem)  Difficulty:Medium
[Almost Sorted](https://www.hackerrank.com/challenges/almost-sorted/problem)   Difficulty:Medium
[Plus Minus](https://www.hackerrank.com/challenges/plus-minus/problem)     Difficulty:Easy

I can do all three in cpp. Please assign

[2021-01-03 01:36] adityabisoi commented on #636
@keshav340 C++ is already taken

[2021-01-03 01:38] adityabisoi commented on #695
@keshav340 Python already assigned

[2021-01-03 02:13] adityabisoi commented on #706
Please use the template for creating issues

[2021-01-03 02:21] yashasvimisra2798 commented on #706
Assign me for python

[2021-01-03 04:46] anushkasinghal11 commented on #706
Assign me for Java

[2021-01-03 14:39] adityabisoi opened #709 "Complete JAVA problems"
Add JAVA solutions for `Revisited!`

[2021-01-03 14:41] adityabisoi opened #710 "Complete C++ Problems"
Add C++ solutions for `Counting Sort 1`,`Find the Median`

[2021-01-03 14:43] #710 closed

[2021-01-03 14:55] satyampandeygit commented on #709
kindly assign me this

[2021-01-03 16:15] satyampandeygit commented on #709
@adityabisoi u are referring to issue #695 ?

[2021-01-03 16:36] abhay313 opened #714 "Warmup (Basic)"
Problem Link- (
https://www.hackerrank.com/challenges/solve-me-first/problem
https://www.hackerrank.com/challenges/simple-array-sum/problem
https://www.hackerrank.com/challenges/a-very-big-sum/problem
https://www.hackerrank.com/challenges/staircase/problem

Category- (Algorithms/Warmup)

Difficulty Level- (Easy)

In Language:
- [x] C++
- [ ] JAVA
- [x] Python

[2021-01-03 16:36] abhay313 commented on #714
I want to do it in C++

[2021-01-03 16:56] Nivedita967 commented on #709
But I was assigned this issue #695 and have already worked on this.  @adityabisoi

[2021-01-03 17:19] yashasvimisra2798 commented on #714
I want to do it in python

[2021-01-03 17:54] Nivedita967 commented on #714
I can do this in Java

[2021-01-04 02:37] #695 closed

[2021-01-04 02:39] adityabisoi commented on #709
@Nivedita967 Yes, I noticed that just now. @satyampandeygit Sorry for the wrong issue.

[2021-01-04 02:39] #709 closed

[2021-01-04 04:18] #698 closed

[2021-01-04 04:18] adityabisoi commented on #636
@suhas142 Please make a PR by today

[2021-01-04 04:20] adityabisoi commented on #702
@satyampandeygit @anushkasinghal11 Please make a PR by today

[2021-01-04 04:20] adityabisoi commented on #706
@Panda6388 @yashasvimisra2798 @anushkasinghal11 Please make PRs by today

[2021-01-04 04:20] adityabisoi commented on #714
@abhay313 @Nivedita967 @yashasvimisra2798 Please make a PR by today

[2021-01-04 05:03] #636 closed

[2021-01-04 05:44] abhay313 opened #719 "Warmup-2"
Problem Link-
Category- (Algorithms/Warmup)
https://www.hackerrank.com/challenges/time-conversion/problem
https://www.hackerrank.com/challenges/plus-minus/problem

Difficulty Level- (Easy)

In Language:
- [x] C++
- [x] JAVA
- [ ] Python

[2021-01-04 05:44] abhay313 commented on #719
I want to do it in C++

[2021-01-04 05:47] adityabisoi commented on #719
Be sure to complete this by today

[2021-01-04 05:48] abhay313 commented on #719
ok

[2021-01-04 05:48] yashasvimisra2798 commented on #719
Python, can I?

[2021-01-04 07:05] Nivedita967 commented on #719
I want to do this in Java.

[2021-01-04 07:13] #714 closed

[2021-01-04 08:17] abhay313 commented on #706
[Plus-Minus](https://www.hackerrank.com/challenges/plus-minus/probleml) added in #719

[2021-01-04 09:47] satyampandeygit opened #725 "Game theory 3"
In issue no #695 in all Java solution, the following change is needed Solution -> solution for all questions. Assign me

[2021-01-04 12:41] #725 closed

[2021-01-04 13:07] #719 closed

[2021-01-04 13:08] adityabisoi commented on #706
@anushkasinghal11 @Panda6388 Do not add solution for plus-minus

[2021-01-06 14:02] #706 closed

[2021-01-12 07:29] #702 closed

[2021-01-12 07:29] #643 closed

[2021-12-03 16:39] adityabisoi opened #732 "Separate the numbers"
Problem Link- https://www.hackerrank.com/challenges/separate-the-numbers/problem

In Language:
- [ ] C++
- [x] JAVA
- [ ] Python

[2021-12-03 16:40] adityabisoi opened #733 "Palindrome Index"
Problem Link- https://www.hackerrank.com/challenges/palindrome-index/problem

In Language:
- [ ] C++
- [x] JAVA
- [ ] Python

[2021-12-03 16:40] adityabisoi opened #734 "Circular Array Rotation"
Problem Link- https://www.hackerrank.com/challenges/circular-array-rotation/problem

In Language:
- [ ] C++
- [ ] JAVA
- [x] Python

[2021-12-03 16:44] adityabisoi opened #735 "Sherlock and Anagrams"
Problem Link- https://www.hackerrank.com/challenges/sherlock-and-anagrams/problem

In Language:
- [ ] C++
- [ ] JAVA
- [x] Python

[2021-12-03 16:44] adityabisoi opened #736 "Almost Sorted"
Problem Link- https://www.hackerrank.com/challenges/almost-sorted/problem

In Language:
- [ ] C++
- [ ] JAVA
- [x] Python